{
    "presets": [
        "es2015",
        "react",
        "stage-0"
    ],
    "plugins": [
        "transform-object-rest-spread",
        "transform-export-extensions",
        "transform-react-jsx",
        "syntax-jsx"    
    ]
}