.variant-heading-1 {
    font-size: 32px;
    font-weight: var(--reactist-font-weight-strong);
    letter-spacing: 0.41px;
    line-height: normal;
}

.variant-heading-2 {
    font-size: 26px;
    font-weight: var(--reactist-font-weight-strong);
    letter-spacing: 0.22px;
    line-height: normal;
}

.variant-heading-3 {
    font-size: 20px;
    font-weight: var(--reactist-font-weight-strong);
    letter-spacing: 0;
    line-height: normal;
}

.variant-heading-4 {
    font-size: 18px;
    font-weight: var(--reactist-typography-font-weight-semibold);
    letter-spacing: 0;
    line-height: normal;
}
