/* Default horizontal spacing */
.space-xsmall {
    margin-left: -var(--reactist-spacing-xsmall);
}
.space-xsmall > .column {
    padding-left: var(--reactist-spacing-xsmall);
}

.space-small {
    margin-left: -var(--reactist-spacing-small);
}
.space-small .column {
    padding-left: var(--reactist-spacing-small);
}

.space-medium {
    margin-left: -var(--reactist-spacing-medium);
}
.space-medium .column {
    padding-left: var(--reactist-spacing-medium);
}

.space-large {
    margin-left: -var(--reactist-spacing-large);
}
.space-large .column {
    padding-left: var(--reactist-spacing-large);
}

.space-xlarge {
    margin-left: -var(--reactist-spacing-xlarge);
}
.space-xlarge .column {
    padding-left: var(--reactist-spacing-xlarge);
}

/* Horizontal spacing in tablet */
@media (min-width: var(--reactist-breakpoint-tablet)) {
    .tablet-space-xsmall {
        margin-left: -var(--reactist-spacing-xsmall);
    }
    .tablet-space-xsmall .column {
        padding-left: var(--reactist-spacing-xsmall);
    }

    .tablet-space-small {
        margin-left: -var(--reactist-spacing-small);
    }
    .tablet-space-small .column {
        padding-left: var(--reactist-spacing-small);
    }

    .tablet-space-medium {
        margin-left: -var(--reactist-spacing-medium);
    }
    .tablet-space-medium .column {
        padding-left: var(--reactist-spacing-medium);
    }

    .tablet-space-large {
        margin-left: -var(--reactist-spacing-large);
    }
    .tablet-space-large .column {
        padding-left: var(--reactist-spacing-large);
    }

    .tablet-space-xlarge {
        margin-left: -var(--reactist-spacing-xlarge);
    }
    .tablet-space-xlarge .column {
        padding-left: var(--reactist-spacing-xlarge);
    }
}

/* Horizontal spacing in desktop */
@media (min-width: var(--reactist-breakpoint-desktop)) {
    .desktop-space-xsmall {
        margin-left: -var(--reactist-spacing-xsmall);
    }
    .desktop-space-small .column {
        padding-left: var(--reactist-spacing-xsmall);
    }

    .desktop-space-small {
        margin-left: -var(--reactist-spacing-small);
    }
    .desktop-space-small .column {
        padding-left: var(--reactist-spacing-small);
    }

    .desktop-space-medium {
        margin-left: -var(--reactist-spacing-medium);
    }
    .desktop-space-medium .column {
        padding-left: var(--reactist-spacing-medium);
    }

    .desktop-space-large {
        margin-left: -var(--reactist-spacing-large);
    }
    .desktop-space-large .column {
        padding-left: var(--reactist-spacing-large);
    }

    .desktop-space-xlarge {
        margin-left: -var(--reactist-spacing-xlarge);
    }
    .desktop-space-xlarge .column {
        padding-left: var(--reactist-spacing-xlarge);
    }
}

.columnWidth-auto {
    width: 100%;
}
.columnWidth-1-2 {
    flex: 0 0 50%;
}
.columnWidth-1-3 {
    flex: 0 0 calc(100% / 3);
}
.columnWidth-2-3 {
    flex: 0 0 calc(100% * 2 / 3);
}
.columnWidth-1-4 {
    flex: 0 0 25%;
}
.columnWidth-3-4 {
    flex: 0 0 75%;
}
.columnWidth-1-5 {
    flex: 0 0 20%;
}
.columnWidth-2-5 {
    flex: 0 0 40%;
}
.columnWidth-3-5 {
    flex: 0 0 60%;
}
.columnWidth-4-5 {
    flex: 0 0 80%;
}
