.columnWidth-auto {
    width: 100%;
}
.columnWidth-1-2 {
    flex: 0 0 50%;
}
.columnWidth-1-3 {
    flex: 0 0 calc(100% / 3);
}
.columnWidth-2-3 {
    flex: 0 0 calc(100% * 2 / 3);
}
.columnWidth-1-4 {
    flex: 0 0 25%;
}
.columnWidth-3-4 {
    flex: 0 0 75%;
}
.columnWidth-1-5 {
    flex: 0 0 20%;
}
.columnWidth-2-5 {
    flex: 0 0 40%;
}
.columnWidth-3-5 {
    flex: 0 0 60%;
}
.columnWidth-4-5 {
    flex: 0 0 80%;
}
