{
    "presets": [
        [
            "@babel/env",
            {
                "modules": false,
                "targets": {
                    "browsers": [">0.25%", "not op_mini all"]
                }
            }
        ],
        "@babel/react"
    ],
    "plugins": [
        "@babel/plugin-transform-spread",
        "@babel/plugin-proposal-export-default-from",
        "@babel/plugin-proposal-export-namespace-from",
        "@babel/plugin-proposal-class-properties"
    ],
    "env": {
        "test": {
            "presets": [
                [
                    "@babel/env",
                    {
                        "targets": {
                            "browsers": [">0.25%", "not op_mini all"]
                        }
                    }
                ],
                "@babel/react"
            ]
        }
    }
}
