{
    "plugins": ["jest", "jsx-a11y"],
    "extends": [
        "@doist/eslint-config/recommended-type-checked",
        "@doist/eslint-config/react",
        "plugin:jest/recommended",
        "@doist/eslint-config/simple-import-sort"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true,
            "impliedStrict": true
        },
        "sourceType": "module",
        "project": ["tsconfig.json", "stories/tsconfig.json"]
    },
    "ignorePatterns": [
        "dist/**",
        "docs/**",
        "lib/**",
        "postcss.config.js",
        "scripts/**",
        "rollup.config.mjs",
        "webpack.config.*"
    ],
    "rules": {
        "func-style": "off",
        "import/no-default-export": "off", // Legacy API.
        "react/no-find-dom-node": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/ban-ts-comment": "off",

        // Resolving jsx-runtime mismatched versions of React (e.g. v17 vs v18)
        // See https://github.com/Doist/reactist/pull/979
        "no-restricted-imports": "off"

    },
    "overrides": [
        {
            // Some types are missing in legacy version of Storybook, revisit after update.
            // jest mocks are hard to type, allow incomplete types in tests.
            "files": ["stories/**/*", "*.test.*"],
            "rules": {
                "react/no-unescaped-entities": "off",
                "@typescript-eslint/no-unsafe-member-access": "off",
                "@typescript-eslint/no-unsafe-call": "off",
                "@typescript-eslint/no-unsafe-assignment": "off",
                "@typescript-eslint/no-unsafe-return": "off"
            }
        }
    ],
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}
