{
    "env": {
        "node": true,
        "browser": true,
        "es6": true,
        "jest/globals": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:jest/recommended",
        "prettier",
        "prettier/react"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "impliedStrict": true,
            "experimentalObjectRestSpread": true,
            "jsx": true
        },
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "jest",
        "prettier"
    ],
    "rules": {
        "prettier/prettier": "error",
        "linebreak-style": ["error", "unix"],
        "react/no-did-mount-set-state": "error",
        "react/no-did-update-set-state": "error",
        "react/no-find-dom-node": "off",
        "react/sort-comp": "error"
    }
}
