*.log
.DS_Store
node_modules
.cache
.eslintcache
dist/
es/
lib/
/styles/
coverage/
.vscode/
/test-results/
/playwright-report/
/playwright/.cache/
!/playwright/__snapshots__/
!/playwright/__snapshots__/**/*-linux.png
*.tsbuildinfo
