# Ensure dependencies are installed from the npm registry instead of GitHub
# if you've defined the default registry for @doist in another .npmrc
@doist:registry=https://registry.npmjs.org/

# Refuse to install any package incompatible with the current Node.js version
engine-strict=true