.heading {
    color: var(--reactist-content-primary);
    font-weight: var(--reactist-font-weight-strong);
    font-family: var(--reactist-font-family);
}

.weight-light {
    font-weight: var(--reactist-font-weight-regular);
}

/* tone */

.tone-secondary {
    color: var(--reactist-content-secondary);
}
.tone-danger {
    color: rgb(209, 69, 59);
}

/* font size */

h1.heading {
    font-size: 32px;
    font-weight: var(--reactist-font-weight-strong);
    line-height: 43px;
}

h2.heading {
    font-size: 26px;
    font-weight: var(--reactist-font-weight-medium);
    line-height: 35px;
}

h3.heading {
    font-size: 20px;
    font-weight: var(--reactist-font-weight-medium);
    line-height: 27px;
}

h4.heading,
h5.heading,
h6.heading {
    /*
     * unlike at higher levels, this one is kept as the same size as h3's
     * you can make it two levels larger visually, but making it smaller has no effect
     */
    font-size: var(--reactist-font-size-body);
}

/* h4/h5/h6 can't be made smaller, maybe we reconsider this? */

/* truncated text */

.lineClampMultipleLines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.lineClamp-1 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.lineClamp-2 {
    -webkit-line-clamp: 2;
}
.lineClamp-3 {
    -webkit-line-clamp: 3;
}
.lineClamp-4 {
    -webkit-line-clamp: 4;
}
.lineClamp-5 {
    -webkit-line-clamp: 5;
}
