:root {
    --reactist-banner-info-icon-color: var(--product-library-info-neutral-primary-idle-fill);
    --reactist-banner-upgrade-icon-color: var(--product-library-info-promote-primary-idle-fill);
    --reactist-banner-experiment-icon-color: var(--product-library-info-promote-primary-idle-fill);
    --reactist-banner-warning-icon-color: var(--product-library-info-warning-primary-on-idle-fill);
    --reactist-banner-error-icon-color: var(--product-library-info-attention-primary-idle-fill);
    --reactist-banner-success-icon-color: var(--product-library-info-positive-primary-idle-fill);
}

.info {
    color: var(--reactist-banner-info-icon-color);
}

.upgrade {
    color: var(--reactist-banner-upgrade-icon-color);
}

.experiment {
    color: var(--reactist-banner-experiment-icon-color);
}

.warning {
    color: var(--reactist-banner-warning-icon-color);
}

.error {
    color: var(--reactist-banner-error-icon-color);
}

.success {
    color: var(--reactist-banner-success-icon-color);
}
