/* Item being hovered or focused */
.comboboxItem[data-active-item],
/* Item currently selected */
.comboboxItem[aria-selected='true'] {
    background-color: hsl(204 100% 40%);
    color: white;
}

.popover {
    max-height: 150px;
    overflow-y: scroll;
}
