/* Default vertical spacing */
.space-xsmall {
    margin-top: calc(var(--reactist-spacing-xsmall) * -1);
}
.space-xsmall > * {
    padding-top: var(--reactist-spacing-xsmall);
}

.space-small {
    margin-top: calc(var(--reactist-spacing-small) * -1);
}
.space-small > * {
    padding-top: var(--reactist-spacing-small);
}

.space-medium {
    margin-top: calc(var(--reactist-spacing-medium) * -1);
}
.space-medium > * {
    padding-top: var(--reactist-spacing-medium);
}

.space-large {
    margin-top: calc(var(--reactist-spacing-large) * -1);
}
.space-large > * {
    padding-top: var(--reactist-spacing-large);
}

.space-xlarge {
    margin-top: calc(var(--reactist-spacing-xlarge) * -1);
}
.space-xlarge > * {
    padding-top: var(--reactist-spacing-xlarge);
}

/* Vertical spacing in tablet */
@media (min-width: 768px /* --reactist-breakpoint-tablet */) {
    .tablet-space-xsmall {
        margin-top: calc(var(--reactist-spacing-xsmall) * -1);
    }
    .tablet-space-xsmall > * {
        padding-top: var(--reactist-spacing-xsmall);
    }

    .tablet-space-small {
        margin-top: calc(var(--reactist-spacing-small) * -1);
    }
    .tablet-space-small > * {
        padding-top: var(--reactist-spacing-small);
    }

    .tablet-space-medium {
        margin-top: calc(var(--reactist-spacing-medium) * -1);
    }
    .tablet-space-medium > * {
        padding-top: var(--reactist-spacing-medium);
    }

    .tablet-space-large {
        margin-top: calc(var(--reactist-spacing-large) * -1);
    }
    .tablet-space-large > * {
        padding-top: var(--reactist-spacing-large);
    }

    .tablet-space-xlarge {
        margin-top: calc(var(--reactist-spacing-xlarge) * -1);
    }
    .tablet-space-xlarge > * {
        padding-top: var(--reactist-spacing-xlarge);
    }
}

/* Vertical spacing in desktop */
@media (min-width: 992px /* --reactist-breakpoint-desktop */) {
    .desktop-space-xsmall {
        margin-top: calc(var(--reactist-spacing-xsmall) * -1);
    }
    .desktop-space-xsmall > * {
        padding-top: var(--reactist-spacing-xsmall);
    }

    .desktop-space-small {
        margin-top: calc(var(--reactist-spacing-small) * -1);
    }
    .desktop-space-small > * {
        padding-top: var(--reactist-spacing-small);
    }

    .desktop-space-medium {
        margin-top: calc(var(--reactist-spacing-medium) * -1);
    }
    .desktop-space-medium > * {
        padding-top: var(--reactist-spacing-medium);
    }

    .desktop-space-large {
        margin-top: calc(var(--reactist-spacing-large) * -1);
    }
    .desktop-space-large > * {
        padding-top: var(--reactist-spacing-large);
    }

    .desktop-space-xlarge {
        margin-top: calc(var(--reactist-spacing-xlarge) * -1);
    }
    .desktop-space-xlarge > * {
        padding-top: var(--reactist-spacing-xlarge);
    }
}
