:root {
    --reactist-text-link-idle-tint: var(--reactist-actionable-tertiary-idle-tint);
    --reactist-text-link-hover-tint: var(--reactist-actionable-tertiary-hover-tint);
    --reactist-text-link-idle-decoration: underline;
    --reactist-text-link-hover-decoration: underline;
}

.container {
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    cursor: pointer;
}

.container > * {
    text-decoration: var(--reactist-text-link-idle-decoration);
    color: var(--reactist-text-link-idle-tint);
}

/**
 * We need to target the child elements to ensure that styles are
 * applied to the text independently of the DOM elements hierarchy.
 */
.container:hover,
.container:hover > * {
    text-decoration: var(--reactist-text-link-hover-decoration);
    color: var(--reactist-text-link-hover-tint);
}

.container svg {
    display: inline-block;
    width: 1em;
    height: 1em;
    font-size: inherit;
    color: inherit;
    vertical-align: -0.125em;
    fill: currentColor;
    padding: 0 6px;
}

/* Color variants */
.default {
    color: var(--reactist-text-link-idle-tint);
}

.inherit {
    color: inherit;
}

/* Underline variants */
.underline {
    text-decoration: underline;
}

.no-underline {
    text-decoration: none;
}
