.text {
    font-size: var(--reactist-font-size-body);
    font-weight: var(--reactist-font-weight-regular);
    color: var(--reactist-content-primary);
}

.size-caption {
    font-size: var(--reactist-font-size-caption);
}
.size-copy {
    font-size: var(--reactist-font-size-copy);
}
.size-body {
    font-size: var(--reactist-font-size-body);
}
.size-subtitle {
    font-size: var(--reactist-font-size-subtitle);
}

.weight-semibold {
    font-weight: var(--reactist-font-weight-medium);
}
.weight-bold {
    font-weight: var(--reactist-font-weight-strong);
}

.tone-secondary {
    color: var(--reactist-content-secondary);
}
.tone-danger {
    color: var(--reactist-chromatic-content-red);
}

/* truncated text */

.line-clamp-1 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.lineClamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-2 {
    -webkit-line-clamp: 2;
}
.line-clamp-3 {
    -webkit-line-clamp: 3;
}
.line-clamp-4 {
    -webkit-line-clamp: 4;
}
.line-clamp-5 {
    -webkit-line-clamp: 5;
}
