.text {
    font-size: var(--reactist-font-size-normal);
    font-weight: var(--reactist-font-weight-regular);
    color: var(--reactist-content-primary);
}

.size-xsmall {
    font-size: var(--reactist-font-size-xsmall);
}
.size-small {
    font-size: var(--reactist-font-size-small);
}
.size-large {
    font-size: var(--reactist-font-size-large);
}
.size-xlarge {
    font-size: var(--reactist-font-size-large);
}

.weight-medium {
    font-weight: var(--reactist-font-weight-medium);
}
.weight-strong {
    font-weight: var(--reactist-font-weight-strong);
}

.tone-secondary {
    color: var(--reactist-content-secondary);
}
.tone-danger {
    color: var(--reactist-chromatic-content-red);
}

/* truncated text */

.line-clamp-1 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.lineClamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-2 {
    -webkit-line-clamp: 2;
}
.line-clamp-3 {
    -webkit-line-clamp: 3;
}
.line-clamp-4 {
    -webkit-line-clamp: 4;
}
.line-clamp-5 {
    -webkit-line-clamp: 5;
}
