:root {
    /* size="small" */
    --reactist-button-small-font-size: var(--reactist-font-size-caption);
    --reactist-button-small-spacing: var(--reactist-spacing-small);
    --reactist-button-small-height: 28px;

    /* size="normal" (default) */
    --reactist-button-normal-font-size: var(--reactist-font-size-copy);
    --reactist-button-normal-spacing: var(--reactist-spacing-medium);
    --reactist-button-normal-height: 32px;

    /* size="large" */
    --reactist-button-large-font-size: var(--reactist-font-size-body);
    --reactist-button-large-spacing: var(--reactist-spacing-large);
    --reactist-button-large-height: 36px;

    /* variant="primary" */
    --reactist-actionable-primary-idle-tint: #ffffff;
    --reactist-actionable-primary-idle-fill: #008aa6;
    --reactist-actionable-primary-idle-border-color: transparent;
    --reactist-actionable-primary-hover-tint: #ffffff;
    --reactist-actionable-primary-hover-fill: #007992;
    --reactist-actionable-primary-hover-border-color: transparent;
    --reactist-actionable-primary-disabled-tint: #ffffff;
    --reactist-actionable-primary-disabled-fill: #99d0db;
    --reactist-actionable-primary-disabled-border-color: transparent;

    /* variant="secondary" */
    --reactist-actionable-secondary-idle-tint: #282f30;
    --reactist-actionable-secondary-idle-fill: #f2f6f7;
    --reactist-actionable-secondary-idle-border-color: transparent;
    --reactist-actionable-secondary-hover-tint: #282f30;
    --reactist-actionable-secondary-hover-fill: #e3e7e8;
    --reactist-actionable-secondary-hover-border-color: transparent;
    --reactist-actionable-secondary-disabled-tint: #a9acac;
    --reactist-actionable-secondary-disabled-fill: #f2f6f7;
    --reactist-actionable-secondary-disabled-border-color: transparent;

    /* variant="tertiary" (only has fill when hovered) */
    --reactist-actionable-tertiary-idle-tint: #006f85;
    --reactist-actionable-tertiary-idle-border-color: transparent;
    --reactist-actionable-tertiary-hover-tint: #006f85;
    --reactist-actionable-tertiary-hover-fill: #f2f6f7;
    --reactist-actionable-tertiary-hover-border-color: transparent;
    --reactist-actionable-tertiary-disabled-tint: #99c5ce;
    --reactist-actionable-tertiary-disabled-border-color: transparent;

    /* variant="quaternary" (only has fill when hovered) */
    --reactist-actionable-quaternary-idle-tint: #6c777a;
    --reactist-actionable-quaternary-idle-border-color: transparent;
    --reactist-actionable-quaternary-hover-tint: #282f30;
    --reactist-actionable-quaternary-hover-fill: #e0e7e8;
    --reactist-actionable-quaternary-hover-border-color: transparent;
    --reactist-actionable-quaternary-disabled-tint: #c4c9ca;
    --reactist-actionable-quaternary-disabled-border-color: transparent;

    /* variant="primary" tone="destructive" */
    --reactist-actionable-primary-destructive-idle-tint: #ffffff;
    --reactist-actionable-primary-destructive-idle-fill: #dc4c3e;
    --reactist-actionable-primary-destructive-idle-border-color: transparent;
    --reactist-actionable-primary-destructive-hover-tint: #ffffff;
    --reactist-actionable-primary-destructive-hover-fill: #b03d32;
    --reactist-actionable-primary-destructive-hover-border-color: transparent;
    --reactist-actionable-primary-destructive-disabled-tint: #ffffff;
    --reactist-actionable-primary-destructive-disabled-fill: #f1b7b2;
    --reactist-actionable-primary-destructive-disabled-border-color: transparent;

    /* variant="secondary" tone="destructive" (optionally filled only when hovered) */
    --reactist-actionable-secondary-destructive-idle-tint: #dc4c3e;
    --reactist-actionable-secondary-destructive-idle-border-color: var(
        --reactist-actionable-secondary-destructive-idle-tint
    );
    --reactist-actionable-secondary-destructive-hover-tint: #b03d32;
    --reactist-actionable-secondary-destructive-hover-fill: transparent;
    --reactist-actionable-secondary-destructive-hover-border-color: var(
        --reactist-actionable-secondary-destructive-hover-tint
    );
    --reactist-actionable-secondary-destructive-disabled-tint: #f1b7b2;
    --reactist-actionable-secondary-destructive-disabled-border-color: var(
        --reactist-actionable-secondary-destructive-disabled-tint
    );
}

.label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* general styles for all buttons */
.baseButton {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    color: inherit;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    white-space: nowrap;
    font-family: var(--reactist-font-family);
    font-weight: var(--reactist-font-weight-medium);
    text-decoration: none;
    /* border is always on, but transparent, so that it does not enlarge buttons when we actually color it */
    border: 1px solid var(--reactist-btn-idle-border-color);

    /* smooth color transitions */
    transition-duration: 0.3s;
    transition-property: color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* nice little animation when clicked to give some visual feedback */
.baseButton:active:not([aria-disabled='true']) {
    transform: scale(0.97);
    transition: transform 0.2s cubic-bezier(0.02, 1.505, 0.745, 1.235);
}

.baseButton {
    padding: 0 var(--reactist-btn-spacing);
    font-size: var(--reactist-btn-font-size);
    height: var(--reactist-btn-height);
    line-height: var(--reactist-btn-height);
    /* spinner */
    --reactist-spinner-tint: var(--reactist-btn-idle-tint);
    --reactist-spinner-fill: var(--reactist-btn-idle-fill);
}

.baseButton.size-small {
    --reactist-btn-height: var(--reactist-button-small-height);
    --reactist-btn-spacing: var(--reactist-button-small-spacing);
    --reactist-btn-font-size: var(--reactist-button-small-font-size);
}

.baseButton.size-normal {
    --reactist-btn-height: var(--reactist-button-normal-height);
    --reactist-btn-spacing: var(--reactist-button-normal-spacing);
    --reactist-btn-font-size: var(--reactist-button-normal-font-size);
}

.baseButton.size-large {
    --reactist-btn-height: var(--reactist-button-large-height);
    --reactist-btn-spacing: var(--reactist-button-large-spacing);
    --reactist-btn-font-size: var(--reactist-button-large-font-size);
}

/* setup the color variables for all the different states */
/* variables are then set per variant and tone so that we do not repeat these definitions below */

.baseButton:not(.disabled) {
    color: var(--reactist-btn-idle-tint);
    background-color: var(--reactist-btn-idle-fill);
}

.baseButton[aria-expanded='true'],
.baseButton:focus:not([aria-disabled='true']),
.baseButton:hover:not([aria-disabled='true']) {
    color: var(--reactist-btn-hover-tint);
    background-color: var(--reactist-btn-hover-fill);
    border-color: var(--reactist-btn-hover-border-color);
}

.baseButton.disabled {
    cursor: not-allowed;
    color: var(--reactist-btn-disabled-tint);
    background-color: var(--reactist-btn-disabled-fill);
    border-color: var(--reactist-btn-disabled-border-color);
}

/* icons */

.baseButton:not(.iconButton) {
    min-width: 68px;
}

.baseButton.iconButton {
    width: var(--reactist-btn-height);
    height: var(--reactist-btn-height);
    padding: 0;
}

.baseButton .startIcon {
    margin-right: calc(var(--reactist-btn-spacing) - 6px);
    margin-left: -6px;
}

.baseButton .endIcon {
    margin-left: calc(var(--reactist-btn-spacing) - 6px);
    margin-right: -6px;
}

/* variants with normal tone */

.variant-primary {
    --reactist-btn-idle-tint: var(--reactist-actionable-primary-idle-tint);
    --reactist-btn-idle-fill: var(--reactist-actionable-primary-idle-fill);
    --reactist-btn-idle-border-color: var(--reactist-actionable-primary-idle-border-color);
    --reactist-btn-hover-tint: var(--reactist-actionable-primary-hover-tint);
    --reactist-btn-hover-fill: var(--reactist-actionable-primary-hover-fill);
    --reactist-btn-hover-border-color: var(--reactist-actionable-primary-hover-border-color);
    --reactist-btn-disabled-tint: var(--reactist-actionable-primary-disabled-tint);
    --reactist-btn-disabled-fill: var(--reactist-actionable-primary-disabled-fill);
    --reactist-btn-disabled-border-color: var(--reactist-actionable-primary-disabled-border-color);
}

.variant-secondary {
    --reactist-btn-idle-tint: var(--reactist-actionable-secondary-idle-tint);
    --reactist-btn-idle-fill: var(--reactist-actionable-secondary-idle-fill);
    --reactist-btn-idle-border-color: var(--reactist-actionable-secondary-idle-border-color);
    --reactist-btn-hover-tint: var(--reactist-actionable-secondary-hover-tint);
    --reactist-btn-hover-fill: var(--reactist-actionable-secondary-hover-fill);
    --reactist-btn-hover-border-color: var(--reactist-actionable-secondary-hover-border-color);
    --reactist-btn-disabled-tint: var(--reactist-actionable-secondary-disabled-tint);
    --reactist-btn-disabled-fill: var(--reactist-actionable-secondary-disabled-fill);
    --reactist-btn-disabled-border-color: var(
        --reactist-actionable-secondary-disabled-border-color
    );
}

.variant-tertiary {
    --reactist-btn-idle-tint: var(--reactist-actionable-tertiary-idle-tint);
    --reactist-btn-idle-fill: transparent;
    --reactist-btn-idle-border-color: var(--reactist-actionable-tertiary-idle-border-color);
    --reactist-btn-hover-tint: var(--reactist-actionable-tertiary-hover-tint);
    --reactist-btn-hover-fill: var(--reactist-actionable-tertiary-hover-fill);
    --reactist-btn-hover-border-color: var(--reactist-actionable-tertiary-hover-border-color);
    --reactist-btn-disabled-tint: var(--reactist-actionable-tertiary-disabled-tint);
    --reactist-btn-disabled-fill: transparent;
    --reactist-btn-disabled-border-color: var(--reactist-actionable-tertiary-disabled-border-color);
}

.variant-quaternary {
    --reactist-btn-idle-tint: var(--reactist-actionable-quaternary-idle-tint);
    --reactist-btn-idle-fill: transparent;
    --reactist-btn-idle-border-color: var();
    --reactist-btn-hover-tint: var(--reactist-actionable-quaternary-hover-tint);
    --reactist-btn-hover-fill: var(--reactist-actionable-quaternary-hover-fill);
    --reactist-btn-hover-border-color: var();
    --reactist-btn-disabled-tint: var(--reactist-actionable-quaternary-disabled-tint);
    --reactist-btn-disabled-fill: transparent;
    --reactist-btn-disabled-border-color: var();
}

/* variants with destructive tone */

.variant-primary.tone-destructive {
    --reactist-btn-idle-tint: var(--reactist-actionable-primary-destructive-idle-tint);
    --reactist-btn-idle-fill: var(--reactist-actionable-primary-destructive-idle-fill);
    --reactist-btn-idle-border-color: var(--reactist-actionable-quaternary-idle-border-color);
    --reactist-btn-hover-tint: var(--reactist-actionable-primary-destructive-hover-tint);
    --reactist-btn-hover-fill: var(--reactist-actionable-primary-destructive-hover-fill);
    --reactist-btn-hover-border-color: var(--reactist-actionable-quaternary-hover-border-color);
    --reactist-btn-disabled-tint: var(--reactist-actionable-primary-destructive-disabled-tint);
    --reactist-btn-disabled-fill: var(--reactist-actionable-primary-destructive-disabled-fill);
    --reactist-btn-disabled-border-color: var(
        --reactist-actionable-quaternary-disabled-border-color
    );
}

.variant-secondary.tone-destructive {
    --reactist-btn-idle-tint: var(--reactist-actionable-secondary-destructive-idle-tint);
    --reactist-btn-idle-fill: transparent;
    --reactist-btn-idle-border-color: var(
        --reactist-actionable-secondary-destructive-idle-border-color
    );
    --reactist-btn-hover-tint: var(--reactist-actionable-secondary-destructive-hover-tint);
    --reactist-btn-hover-fill: var(--reactist-actionable-secondary-destructive-hover-fill);
    --reactist-btn-hover-border-color: var(
        --reactist-actionable-secondary-destructive-hover-border-color
    );
    --reactist-btn-disabled-tint: var(--reactist-actionable-secondary-destructive-disabled-tint);
    --reactist-btn-disabled-fill: transparent;
    --reactist-btn-disabled-border-color: var(
        --reactist-actionable-secondary-destructive-disabled-border-color
    );
}

/* the secondary destructive variant has border around it */
/* .variant-secondary.tone-destructive {
    --reactist-btn-idle-border-color: var(
        --reactist-actionable-secondary-destructive-idle-border-color
    );
}
.variant-secondary.tone-destructive:hover {
    --reactist-btn-hover-border-color: var(
        --reactist-actionable-secondary-destructive-hover-border-color
    );
}
.variant-secondary.tone-destructive.disabled {
    --reactist-btn-disabled-border-color: var(
        --reactist-actionable-secondary-destructive-disabled-border-color
    );
} */

.variant-tertiary.tone-destructive,
.variant-quaternary.tone-destructive {
    --reactist-btn-idle-tint: var(--reactist-actionable-secondary-destructive-idle-tint);
    --reactist-btn-idle-border-color: transparent;
    --reactist-btn-hover-tint: var(--reactist-actionable-secondary-destructive-hover-tint);
    --reactist-btn-hover-border-color: transparent;
    --reactist-btn-disabled-tint: var(--reactist-actionable-secondary-destructive-disabled-tint);
    --reactist-btn-disabled-border-color: transparent;
}
