.variant-subheader-1 {
    font-size: 16px;
    font-weight: var(--reactist-typography-font-weight-semibold);
    letter-spacing: 0;
    line-height: 23px;
}

.variant-subheader-2 {
    font-size: 16px;
    font-weight: var(--reactist-font-weight-regular);
    letter-spacing: 0;
    line-height: 23px;
}

.variant-body-1 {
    font-size: 14px;
    font-weight: var(--reactist-font-weight-strong);
    letter-spacing: -0.15px;
    line-height: 21px;
}

.variant-body-2 {
    font-size: 14px;
    font-weight: var(--reactist-typography-font-weight-semibold);
    letter-spacing: -0.15px;
    line-height: 21px;
}

.variant-body-3 {
    font-size: 14px;
    font-weight: var(--reactist-font-weight-regular);
    letter-spacing: -0.15px;
    line-height: 21px;
}

.variant-callout-1 {
    font-size: 13px;
    font-weight: var(--reactist-typography-font-weight-semibold);
    letter-spacing: -0.15px;
    line-height: 20px;
}

.variant-callout-2 {
    font-size: 13px;
    font-weight: var(--reactist-font-weight-regular);
    letter-spacing: -0.15px;
    line-height: 20px;
}

.variant-caption-1 {
    font-size: 12px;
    font-weight: var(--reactist-font-weight-strong);
    letter-spacing: 0;
    line-height: 20px;
}

.variant-caption-2 {
    font-size: 12px;
    font-weight: var(--reactist-typography-font-weight-semibold);
    letter-spacing: -0.15px;
    line-height: 15px;
}

.variant-caption-3 {
    font-size: 12px;
    font-weight: var(--reactist-font-weight-regular);
    letter-spacing: 0;
    line-height: 20px;
}

.variant-footnote-1 {
    font-size: 10px;
    font-weight: var(--reactist-font-weight-strong);
    letter-spacing: 1px;
    line-height: 13px;
}

.variant-footnote-2 {
    font-size: 10px;
    font-weight: var(--reactist-typography-font-weight-medium);
    letter-spacing: 1px;
    line-height: 13px;
}

.variant-subheader-1.decoration-strikethrough,
.variant-subheader-2.decoration-strikethrough,
.variant-body-3.decoration-strikethrough,
.variant-callout-1.decoration-strikethrough,
.variant-callout-2.decoration-strikethrough,
.variant-caption-2.decoration-strikethrough,
.variant-caption-3.decoration-strikethrough {
    text-decoration-line: line-through;
    text-decoration-skip-ink: none;
    text-underline-position: from-font;
}

.variant-caption-2.decoration-underline,
.variant-caption-3.decoration-underline {
    text-decoration-line: underline;
    text-decoration-skip-ink: none;
    text-underline-position: from-font;
}

.variant-footnote-1.case-uppercase {
    text-transform: uppercase;
}
