.variant-display-1 {
    font-size: 96px;
    font-weight: var(--reactist-typography-font-weight-medium);
    letter-spacing: 0;
    line-height: normal;
}

.variant-display-2 {
    font-size: 88px;
    font-weight: var(--reactist-typography-font-weight-medium);
    letter-spacing: 0;
    line-height: normal;
}

.variant-display-3 {
    font-size: 72px;
    font-weight: var(--reactist-typography-font-weight-medium);
    letter-spacing: 0.14px;
    line-height: normal;
}

.variant-display-4 {
    font-size: 56px;
    font-weight: var(--reactist-typography-font-weight-medium);
    letter-spacing: 0.3px;
    line-height: normal;
}

.variant-display-5 {
    font-size: 42px;
    font-weight: var(--reactist-typography-font-weight-medium);
    letter-spacing: 0.37px;
    line-height: normal;
}
