.box {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    font-size: var(--reactist-font-size-normal);
    font-family: inherit;
    vertical-align: baseline;
    background-color: transparent;
}

/* position */
.position-absolute {
    position: absolute;
}
.position-fixed {
    position: fixed;
}
.position-relative {
    position: relative;
}
.position-sticky {
    position: sticky;
}
@media (min-width: 768px /* --reactist-breakpoint-tablet */) {
    .tablet-position-absolute {
        position: absolute;
    }
    .tablet-position-fixed {
        position: fixed;
    }
    .tablet-position-relative {
        position: relative;
    }
    .tablet-position-sticky {
        position: sticky;
    }
}
@media (min-width: 992px /* --reactist-breakpoint-desktop */) {
    .desktop-position-absolute {
        position: absolute;
    }
    .desktop-position-fixed {
        position: fixed;
    }
    .desktop-position-relative {
        position: relative;
    }
    .desktop-position-sticky {
        position: sticky;
    }
}

/* display */
.display-block {
    display: block;
}
.display-flex {
    display: flex;
}
.display-inline {
    display: inline;
}
.display-inlineBlock {
    display: inline-block;
}
.display-inlineFlex {
    display: inline-flex;
}
.display-none {
    display: none;
}
@media (min-width: 768px /* --reactist-breakpoint-tablet */) {
    .tablet-display-block {
        display: block;
    }
    .tablet-display-flex {
        display: flex;
    }
    .tablet-display-inline {
        display: inline;
    }
    .tablet-display-inlineBlock {
        display: inline-block;
    }
    .tablet-display-inlineFlex {
        display: inline-flex;
    }
    .tablet-display-none {
        display: none;
    }
}
@media (min-width: 992px /* --reactist-breakpoint-desktop */) {
    .desktop-display-block {
        display: block;
    }
    .desktop-display-flex {
        display: flex;
    }
    .desktop-display-inline {
        display: inline;
    }
    .desktop-display-inlineBlock {
        display: inline-block;
    }
    .desktop-display-inlineFlex {
        display: inline-flex;
    }
    .desktop-display-none {
        display: none;
    }
}

/* min-width */
.minWidth-0 {
    min-width: 0px;
}
.minWidth-xsmall {
    min-width: 220px;
}
.minWidth-small {
    min-width: 400px;
}
.minWidth-medium {
    min-width: 660px;
}
.minWidth-large {
    max-width: 940px;
}
.minWidth-xlarge {
    min-width: 1280px;
}

/* max-width */
.maxWidth-xsmall {
    max-width: 220px;
}
.maxWidth-small {
    max-width: 400px;
}
.maxWidth-medium {
    max-width: 660px;
}
.maxWidth-large {
    max-width: 940px;
}
.maxWidth-xlarge {
    max-width: 1280px;
}

/* flex-direction */
.flexDirection-column {
    flex-direction: column;
}
.flexDirection-row {
    flex-direction: row;
}
@media (min-width: 768px /* --reactist-breakpoint-tablet */) {
    .tablet-flexDirection-column {
        flex-direction: column;
    }
    .tablet-flexDirection-row {
        flex-direction: row;
    }
}
@media (min-width: 992px /* --reactist-breakpoint-desktop */) {
    .desktop-flexDirection-column {
        flex-direction: column;
    }
    .desktop-flexDirection-row {
        flex-direction: row;
    }
}

/* flex-wrap */
.flexWrap-wrap {
    flex-wrap: wrap;
}
.flexWrap-nowrap {
    flex-wrap: nowrap;
}

/* flex-shrink */
.flexShrink-0 {
    flex-shrink: 0;
}

/* flex-grow */
.flexGrow-0 {
    flex-grow: 0;
}
.flexGrow-1 {
    flex-grow: 1;
}

/* align-items */
.alignItems-flexStart {
    align-items: flex-start;
}
.alignItems-center {
    align-items: center;
}
.alignItems-flexEnd {
    align-items: flex-end;
}
@media (min-width: 768px /* --reactist-breakpoint-tablet */) {
    .tablet-alignItems-flexStart {
        align-items: flex-start;
    }
    .tablet-alignItems-center {
        align-items: center;
    }
    .tablet-alignItems-flexEnd {
        align-items: flex-end;
    }
}
@media (min-width: 992px /* --reactist-breakpoint-desktop */) {
    .desktop-alignItems-flexStart {
        align-items: flex-start;
    }
    .desktop-alignItems-center {
        align-items: center;
    }
    .desktop-alignItems-flexEnd {
        align-items: flex-end;
    }
}

/* justify-content */
.justifyContent-flexStart {
    justify-content: flex-start;
}
.justifyContent-center {
    justify-content: center;
}
.justifyContent-flexEnd {
    justify-content: flex-end;
}
.justifyContent-spaceBetween {
    justify-content: space-between;
}
@media (min-width: 768px /* --reactist-breakpoint-tablet */) {
    .tablet-justifyContent-flexStart {
        justify-content: flex-start;
    }
    .tablet-justifyContent-center {
        justify-content: center;
    }
    .tablet-justifyContent-flexEnd {
        justify-content: flex-end;
    }
    .tablet-justifyContent-spaceBetween {
        justify-content: space-between;
    }
}
@media (min-width: 992px /* --reactist-breakpoint-desktop */) {
    .desktop-justifyContent-flexStart {
        justify-content: flex-start;
    }
    .desktop-justifyContent-center {
        justify-content: center;
    }
    .desktop-justifyContent-flexEnd {
        justify-content: flex-end;
    }
    .desktop-justifyContent-spaceBetween {
        justify-content: space-between;
    }
}

/* overflow */
.overflow-hidden {
    overflow: hidden;
}
.overflow-auto {
    overflow: auto;
}
.overflow-visible {
    overflow: visible;
}
.overflow-scroll {
    overflow: scroll;
}

/* full width and height */
.width-full {
    width: 100%;
}
.height-full {
    height: 100%;
}

/* padding-top */
.paddingTop-xsmall {
    padding-top: var(--reactist-spacing-xsmall);
}
.paddingTop-small {
    padding-top: var(--reactist-spacing-small);
}
.paddingTop-medium {
    padding-top: var(--reactist-spacing-medium);
}
.paddingTop-large {
    padding-top: var(--reactist-spacing-large);
}
.paddingTop-xlarge {
    padding-top: var(--reactist-spacing-xlarge);
}
.paddingTop-xxlarge {
    padding-top: var(--reactist-spacing-xxlarge);
}
@media (min-width: 768px /* --reactist-breakpoint-tablet */) {
    .tablet-paddingTop-xsmall {
        padding-top: var(--reactist-spacing-xsmall);
    }
    .tablet-paddingTop-small {
        padding-top: var(--reactist-spacing-small);
    }
    .tablet-paddingTop-medium {
        padding-top: var(--reactist-spacing-medium);
    }
    .tablet-paddingTop-large {
        padding-top: var(--reactist-spacing-large);
    }
    .tablet-paddingTop-xlarge {
        padding-top: var(--reactist-spacing-xlarge);
    }
    .tablet-paddingTop-xxlarge {
        padding-top: var(--reactist-spacing-xxlarge);
    }
}
@media (min-width: 992px /* --reactist-breakpoint-desktop */) {
    .desktop-paddingTop-xsmall {
        padding-top: var(--reactist-spacing-xsmall);
    }
    .desktop-paddingTop-small {
        padding-top: var(--reactist-spacing-small);
    }
    .desktop-paddingTop-medium {
        padding-top: var(--reactist-spacing-medium);
    }
    .desktop-paddingTop-large {
        padding-top: var(--reactist-spacing-large);
    }
    .desktop-paddingTop-xlarge {
        padding-top: var(--reactist-spacing-xlarge);
    }
    .desktop-paddingTop-xxlarge {
        padding-top: var(--reactist-spacing-xxlarge);
    }
}

/* padding-right */
.paddingRight-xsmall {
    padding-right: var(--reactist-spacing-xsmall);
}
.paddingRight-small {
    padding-right: var(--reactist-spacing-small);
}
.paddingRight-medium {
    padding-right: var(--reactist-spacing-medium);
}
.paddingRight-large {
    padding-right: var(--reactist-spacing-large);
}
.paddingRight-xlarge {
    padding-right: var(--reactist-spacing-xlarge);
}
.paddingRight-xxlarge {
    padding-right: var(--reactist-spacing-xxlarge);
}
@media (min-width: 768px /* --reactist-breakpoint-tablet */) {
    .tablet-paddingRight-xsmall {
        padding-right: var(--reactist-spacing-xsmall);
    }
    .tablet-paddingRight-small {
        padding-right: var(--reactist-spacing-small);
    }
    .tablet-paddingRight-medium {
        padding-right: var(--reactist-spacing-medium);
    }
    .tablet-paddingRight-large {
        padding-right: var(--reactist-spacing-large);
    }
    .tablet-paddingRight-xlarge {
        padding-right: var(--reactist-spacing-xlarge);
    }
    .tablet-paddingRight-xxlarge {
        padding-right: var(--reactist-spacing-xxlarge);
    }
}
@media (min-width: 992px /* --reactist-breakpoint-desktop */) {
    .desktop-paddingRight-xsmall {
        padding-right: var(--reactist-spacing-xsmall);
    }
    .desktop-paddingRight-small {
        padding-right: var(--reactist-spacing-small);
    }
    .desktop-paddingRight-medium {
        padding-right: var(--reactist-spacing-medium);
    }
    .desktop-paddingRight-large {
        padding-right: var(--reactist-spacing-large);
    }
    .desktop-paddingRight-xlarge {
        padding-right: var(--reactist-spacing-xlarge);
    }
    .desktop-paddingRight-xxlarge {
        padding-right: var(--reactist-spacing-xxlarge);
    }
}

/* padding-bottom */
.paddingBottom-xsmall {
    padding-bottom: var(--reactist-spacing-xsmall);
}
.paddingBottom-small {
    padding-bottom: var(--reactist-spacing-small);
}
.paddingBottom-medium {
    padding-bottom: var(--reactist-spacing-medium);
}
.paddingBottom-large {
    padding-bottom: var(--reactist-spacing-large);
}
.paddingBottom-xlarge {
    padding-bottom: var(--reactist-spacing-xlarge);
}
.paddingBottom-xxlarge {
    padding-bottom: var(--reactist-spacing-xxlarge);
}
@media (min-width: 768px /* --reactist-breakpoint-tablet */) {
    .tablet-paddingBottom-xsmall {
        padding-bottom: var(--reactist-spacing-xsmall);
    }
    .tablet-paddingBottom-small {
        padding-bottom: var(--reactist-spacing-small);
    }
    .tablet-paddingBottom-medium {
        padding-bottom: var(--reactist-spacing-medium);
    }
    .tablet-paddingBottom-large {
        padding-bottom: var(--reactist-spacing-large);
    }
    .tablet-paddingBottom-xlarge {
        padding-bottom: var(--reactist-spacing-xlarge);
    }
    .tablet-paddingBottom-xxlarge {
        padding-bottom: var(--reactist-spacing-xxlarge);
    }
}
@media (min-width: 992px /* --reactist-breakpoint-desktop */) {
    .desktop-paddingBottom-xsmall {
        padding-bottom: var(--reactist-spacing-xsmall);
    }
    .desktop-paddingBottom-small {
        padding-bottom: var(--reactist-spacing-small);
    }
    .desktop-paddingBottom-medium {
        padding-bottom: var(--reactist-spacing-medium);
    }
    .desktop-paddingBottom-large {
        padding-bottom: var(--reactist-spacing-large);
    }
    .desktop-paddingBottom-xlarge {
        padding-bottom: var(--reactist-spacing-xlarge);
    }
    .desktop-paddingBottom-xxlarge {
        padding-bottom: var(--reactist-spacing-xxlarge);
    }
}

/* padding-left */
.paddingLeft-xsmall {
    padding-left: var(--reactist-spacing-xsmall);
}
.paddingLeft-small {
    padding-left: var(--reactist-spacing-small);
}
.paddingLeft-medium {
    padding-left: var(--reactist-spacing-medium);
}
.paddingLeft-large {
    padding-left: var(--reactist-spacing-large);
}
.paddingLeft-xlarge {
    padding-left: var(--reactist-spacing-xlarge);
}
.paddingLeft-xxlarge {
    padding-left: var(--reactist-spacing-xxlarge);
}
@media (min-width: 768px /* --reactist-breakpoint-tablet */) {
    .tablet-paddingLeft-xsmall {
        padding-left: var(--reactist-spacing-xsmall);
    }
    .tablet-paddingLeft-small {
        padding-left: var(--reactist-spacing-small);
    }
    .tablet-paddingLeft-medium {
        padding-left: var(--reactist-spacing-medium);
    }
    .tablet-paddingLeft-large {
        padding-left: var(--reactist-spacing-large);
    }
    .tablet-paddingLeft-xlarge {
        padding-left: var(--reactist-spacing-xlarge);
    }
    .tablet-paddingLeft-xxlarge {
        padding-left: var(--reactist-spacing-xxlarge);
    }
}
@media (min-width: 992px /* --reactist-breakpoint-desktop */) {
    .desktop-paddingLeft-xsmall {
        padding-left: var(--reactist-spacing-xsmall);
    }
    .desktop-paddingLeft-small {
        padding-left: var(--reactist-spacing-small);
    }
    .desktop-paddingLeft-medium {
        padding-left: var(--reactist-spacing-medium);
    }
    .desktop-paddingLeft-large {
        padding-left: var(--reactist-spacing-large);
    }
    .desktop-paddingLeft-xlarge {
        padding-left: var(--reactist-spacing-xlarge);
    }
    .desktop-paddingLeft-xxlarge {
        padding-left: var(--reactist-spacing-xxlarge);
    }
}

/* background color */
.bg-default {
    background-color: var(--reactist-bg-default);
}
.bg-aside {
    background-color: var(--reactist-bg-aside);
}
.bg-highlight {
    background-color: var(--reactist-bg-highlight);
}
.bg-selected {
    background-color: var(--reactist-bg-selected);
}

/* border radius */
.borderRadius-standard {
    border-radius: var(--reactist-border-radius-small);
}
.borderRadius-full {
    border-radius: var(--reactist-border-radius-large);
}

/* border */
.border-standard {
    border: 1px solid var(--reactist-framework-border);
}
