html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    background-color: #F9F9F9;
    position: relative;
}

#root {
    padding: 40px 60px;
}

h1 {
    font-size: 24px;
    margin-bottom: 30px;
}

.dropdown-example {
    margin-bottom: 20px;
}
.dropdown-example .trigger {
    padding: 10px;
    color: #3F82EF;
    font-weight: bold;
}
