.container {
    min-height: 0;
    height: 0;
    transition-duration: 200ms;
    transition-property: height;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.entered {
    height: auto;
}
