.container textarea {
    border: none;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: var(--reactist-font-family);
}

.container:not(.bordered) textarea {
    border-radius: var(--reactist-border-radius-small);
    padding: var(--reactist-spacing-small);
}

.container.bordered {
    border-radius: var(--reactist-border-radius-large);
}

.container:not(.bordered) textarea,
.container.bordered {
    border: 1px solid var(--reactist-divider-secondary);
}

.container:not(.bordered) textarea:focus-visible,
.container.bordered:focus-within:focus-visible {
    border-color: var(--reactist-divider-primary);
}

.container.error:not(.bordered) textarea,
.container.bordered.error {
    border-color: var(--reactist-alert-tone-critical-border) !important;
}
