.textAreaContainer textarea {
    outline: none; /* we're taking care of the outline styles ourselves */
    border: none;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--reactist-font-family);
    width: 100%;
    resize: vertical;
}

.textAreaContainer:not(.bordered) textarea {
    border-radius: var(--reactist-border-radius-small);
    padding: var(--reactist-spacing-small);
}

.textAreaContainer.bordered {
    border-radius: var(--reactist-border-radius-large);
}

.textAreaContainer:not(.bordered) textarea,
.textAreaContainer.bordered {
    border: 1px solid var(--reactist-divider-secondary);
}

.textAreaContainer:not(.bordered) textarea:focus,
.textAreaContainer.bordered:focus-within {
    border-color: var(--reactist-divider-primary);
}

.textAreaContainer.error:not(.bordered) textarea,
.textAreaContainer.bordered.error {
    border-color: var(--reactist-alert-tone-critical-border) !important;
}
