.container textarea {
    padding: var(--reactist-spacing-small);
    width: 100%;
    box-sizing: border-box;
    border-radius: var(--reactist-border-radius-small);
    border: 1px solid var(--reactist-framework-border);
}

.container textarea:focus {
    border-color: var(--reactist-framework-border-focus);
}
