:root {
    /*
     * breakpoints
     *
     * Unfortunately CSS custom properties are not available in media queries. So these are not
     * being used right now (although all uses of the hardcoded value are annotated with the names.
     *
     * We could manage these as pre-processor variables, but that would leave the question about how
     * is going to be possible to customize these values from consumer apps.
     *
     * See https://stackoverflow.com/q/40722882/621809
     * Possible solution: https://www.npmjs.com/package/postcss-media-variables
     */
    --reactist-breakpoint-tablet: 768px;
    --reactist-breakpoint-desktop: 992px;

    /* spacing sizes */
    --reactist-spacing-xsmall: 4px;
    --reactist-spacing-small: 8px;
    --reactist-spacing-medium: 12px;
    --reactist-spacing-large: 16px;
    --reactist-spacing-xlarge: 24px;
    --reactist-spacing-xxlarge: 32px;

    /* width */
    --reactist-width-xsmall: 220px;
    --reactist-width-small: 400px;
    --reactist-width-medium: 660px;
    --reactist-width-large: 940px;
    --reactist-width-xlarge: 1280px;

    /* font family */
    --reactist-font-family:
        -apple-system, system-ui, 'Segoe UI', Roboto, Noto, Oxygen-Sans, Ubuntu, Cantrell,
        'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --reactist-font-family-monospace:
        ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Monaco, 'Cascadia Mono', Consolas,
        'Liberation Mono', 'Courier New', monospace;

    /* font sizes */
    --reactist-font-size-caption: 12px;
    --reactist-font-size-copy: 13px;
    --reactist-font-size-body: 14px;
    --reactist-font-size-subtitle: 16px;
    --reactist-font-size-header: 20px;
    --reactist-font-size-header-large: 24px;
    --reactist-font-size-header-xlarge: 32px;

    /* font weight */
    --reactist-font-weight-regular: 400;
    --reactist-font-weight-medium: 600;
    --reactist-font-weight-strong: 700;

    /* border-radius */
    --reactist-border-radius-small: 5px;
    --reactist-border-radius-large: 10px;

    /*
     * elevation
     */
    --reactist-toast-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    /* stacking orders */
    --reactist-stacking-order-modal: 1;
    --reactist-stacking-order-menu: 1;
    --reactist-stacking-order-toast: 400;
    --reactist-stacking-order-tooltip: 1000;
}
