:root {
    /*
     * breakpoints
     *
     * Unfortunately CSS custom properties are not available in media queries. So these are not
     * being used right now (although all uses of the hardcoded value are annotated with the names.
     *
     * We could manage these as pre-processor variables, but that would leave the question about how
     * is going to be possible to customize these values from consumer apps.
     *
     * See https://stackoverflow.com/q/40722882/621809
     * Possible solution: https://www.npmjs.com/package/postcss-media-variables
     */
    --reactist-breakpoint-tablet: 768px;
    --reactist-breakpoint-desktop: 992px;

    /* spacing sizes */
    --reactist-spacing-xsmall: 4px;
    --reactist-spacing-small: 8px;
    --reactist-spacing-medium: 12px;
    --reactist-spacing-large: 16px;
    --reactist-spacing-xlarge: 24px;
    --reactist-spacing-xxlarge: 32px;

    /* width */
    --reactist-width-xsmall: 220px;
    --reactist-width-small: 400px;
    --reactist-width-medium: 660px;
    --reactist-width-large: 940px;
    --reactist-width-xlarge: 1280px;

    /* font family */
    --reactist-font-family:
        -apple-system, system-ui, 'Segoe UI', Roboto, Noto, Oxygen-Sans, Ubuntu, Cantrell,
        'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --reactist-font-family-monospace:
        ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Monaco, 'Cascadia Mono', Consolas,
        'Liberation Mono', 'Courier New', monospace;

    /* font sizes */
    --reactist-font-size-caption: 12px;
    --reactist-font-size-copy: 13px;
    --reactist-font-size-body: 14px;
    --reactist-font-size-subtitle: 16px;
    --reactist-font-size-header: 20px;
    --reactist-font-size-header-large: 24px;
    --reactist-font-size-header-xlarge: 32px;

    /* font weight */
    --reactist-font-weight-regular: 400;
    --reactist-font-weight-medium: 600;
    --reactist-font-weight-strong: 700;

    /* standard divider colors */
    --reactist-divider-primary: var(--product-library-divider-primary);
    --reactist-divider-secondary: var(--product-library-divider-secondary);
    --reactist-divider-tertiary: var(--product-library-divider-tertiary);

    /* input border colors */
    --reactist-inputs-hover: var(--product-library-border-hover-tint);
    --reactist-inputs-focus: var(--product-library-border-focus-tint);
    --reactist-inputs-idle: var(--product-library-border-idle-tint);
    --reactist-inputs-alert: var(--product-library-info-attention-primary-idle-tint);

    /* border-radius */
    --reactist-border-radius-small: 5px;
    --reactist-border-radius-large: 10px;

    /* background color */
    --reactist-bg-default: var(--product-library-background-base-primary);
    --reactist-bg-brand: rgb(36, 111, 224); /* no product-library source */
    --reactist-bg-aside: var(--product-library-background-base-secondary);
    --reactist-bg-highlight: var(--product-library-actionable-quaternary-hover-fill);
    --reactist-bg-selected: var(--product-library-selectable-secondary-selected-fill);
    --reactist-bg-toast: var(--product-library-background-raised-quaternary);

    /* colors */
    --reactist-framework-fill-background: var(--product-library-background-base-secondary);
    --reactist-framework-fill-crest: rgb(230, 230, 230); /* no product-library source */
    --reactist-framework-fill-selected: rgb(236, 236, 236); /* no product-library source */
    --reactist-framework-fill-summit: var(--product-library-selectable-primary-unselected-fill);

    --reactist-content-primary: var(--product-library-display-primary-idle-tint);
    --reactist-content-secondary: var(--product-library-display-secondary-idle-tint);
    --reactist-content-tertiary: var(--product-library-display-tertiary-idle-tint);
    --reactist-toast-content-primary: var(--product-library-display-primary-on-dark-tint);
    --reactist-toast-content-secondary: hsla(0, 0%, 100%, 0.56); /* no product-library source */
    --reactist-content-positive: rgb(5, 133, 39); /* no product-library source */
    --reactist-content-danger: var(--product-library-actionable-destructive-idle-tint);

    /* component-specific */

    /* actionable colors */
    --reactist-actionable-primary-idle-tint: var(--product-library-actionable-primary-on-idle-tint);
    --reactist-actionable-primary-idle-fill: var(--product-library-actionable-primary-idle-fill);
    --reactist-actionable-primary-hover-tint: var(
        --product-library-actionable-primary-on-hover-tint
    );
    --reactist-actionable-primary-hover-fill: var(--product-library-actionable-primary-hover-fill);
    --reactist-actionable-primary-disabled-tint: var(
        --product-library-actionable-primary-on-disabled-tint
    );
    --reactist-actionable-primary-disabled-fill: var(
        --product-library-actionable-primary-disabled-fill
    );

    --reactist-actionable-secondary-idle-tint: var(
        --product-library-actionable-secondary-on-idle-tint
    );
    --reactist-actionable-secondary-idle-fill: var(
        --product-library-actionable-secondary-idle-fill
    );
    --reactist-actionable-secondary-hover-tint: var(
        --product-library-actionable-secondary-on-hover-tint
    );
    --reactist-actionable-secondary-hover-fill: var(
        --product-library-actionable-secondary-hover-fill
    );
    --reactist-actionable-secondary-disabled-tint: var(
        --product-library-actionable-secondary-on-disabled-tint
    );
    --reactist-actionable-secondary-disabled-fill: var(
        --product-library-actionable-secondary-disabled-fill
    );

    --reactist-actionable-tertiary-idle-tint: var(--product-library-actionable-tertiary-idle-tint);
    --reactist-actionable-tertiary-hover-tint: var(
        --product-library-actionable-tertiary-on-hover-tint
    );
    --reactist-actionable-tertiary-hover-fill: var(
        --product-library-actionable-tertiary-hover-fill
    );
    --reactist-actionable-tertiary-disabled-tint: var(
        --product-library-actionable-tertiary-disabled-tint
    );

    --reactist-actionable-quaternary-idle-tint: var(
        --product-library-actionable-quaternary-idle-tint
    );
    --reactist-actionable-quaternary-hover-tint: var(
        --product-library-actionable-quaternary-on-hover-tint
    );
    --reactist-actionable-quaternary-hover-fill: var(
        --product-library-actionable-quaternary-hover-fill
    );
    --reactist-actionable-quaternary-disabled-tint: var(
        --product-library-actionable-quaternary-disabled-tint
    );

    --reactist-actionable-primary-destructive-idle-tint: var(
        --product-library-actionable-destructive-on-idle-tint
    );
    --reactist-actionable-primary-destructive-idle-fill: var(
        --product-library-actionable-destructive-idle-fill
    );
    --reactist-actionable-primary-destructive-hover-tint: var(
        --product-library-actionable-destructive-on-hover-tint
    );
    --reactist-actionable-primary-destructive-hover-fill: var(
        --product-library-actionable-destructive-hover-fill
    );
    --reactist-actionable-primary-destructive-disabled-tint: var(
        --product-library-actionable-destructive-on-disabled-tint
    );
    --reactist-actionable-primary-destructive-disabled-fill: var(
        --product-library-actionable-destructive-disabled-fill
    );

    --reactist-actionable-secondary-destructive-idle-tint: var(
        --product-library-actionable-destructive-idle-tint
    );
    --reactist-actionable-secondary-destructive-hover-tint: var(
        --product-library-actionable-destructive-hover-tint
    );
    --reactist-actionable-secondary-destructive-hover-fill: transparent;
    --reactist-actionable-secondary-destructive-disabled-tint: var(
        --product-library-actionable-destructive-disabled-tint
    );

    /* alerts */
    --reactist-alert-tone-info-icon: var(--product-library-info-neutral-primary-idle-fill);
    --reactist-alert-tone-info-border: var(--product-library-divider-primary);
    --reactist-alert-tone-info-background: var(--product-library-background-base-secondary);

    --reactist-alert-tone-positive-icon: var(--product-library-info-positive-primary-idle-fill);
    --reactist-alert-tone-positive-border: var(--product-library-divider-primary);
    --reactist-alert-tone-positive-background: var(--product-library-background-base-secondary);

    --reactist-alert-tone-caution-icon: var(--product-library-info-warning-primary-on-idle-fill);
    --reactist-alert-tone-caution-border: var(--product-library-divider-primary);
    --reactist-alert-tone-caution-background: var(--product-library-background-base-secondary);

    --reactist-alert-tone-critical-icon: var(--product-library-info-attention-primary-idle-fill);
    --reactist-alert-tone-critical-border: var(--product-library-divider-primary);
    --reactist-alert-tone-critical-background: var(--product-library-background-base-secondary);

    /* fields */
    --reactist-field-readonly-background: var(--product-library-background-base-tertiary);

    /* switches and checkboxes */
    --reactist-switch-background: var(--product-library-selectable-primary-unselected-fill);
    --reactist-switch-checked: var(--product-library-actionable-primary-idle-fill);
    --reactist-switch-toggle: var(--product-library-selectable-primary-on-selected-fill);

    /* toasts */
    --reactist-toast-actionable-primary-tint: var(
        --product-library-actionable-tertiary-on-dark-idle-tint
    );
    --reactist-toast-actionable-secondary-tint: var(
        --product-library-actionable-quaternary-on-dark-idle-tint
    );
    --reactist-toast-actionable-hover-fill: var(
        --product-library-actionable-tertiary-on-dark-hover-fill
    );
    --reactist-toast-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    /* stacking orders */
    --reactist-stacking-order-modal: 1;
    --reactist-stacking-order-menu: 1;
    --reactist-stacking-order-toast: 400;
    --reactist-stacking-order-tooltip: 1000;

    /* scrollbar colors */
    --reactist-scrollbar-thumb-idle: rgba(0, 0, 0, 0.2); /* no product-library source */
}
