/***************/
/* padding-top */
/***************/

.paddingTop-xsmall {
    padding-top: var(--reactist-spacing-xsmall);
}
.paddingTop-small {
    padding-top: var(--reactist-spacing-small);
}
.paddingTop-medium {
    padding-top: var(--reactist-spacing-medium);
}
.paddingTop-large {
    padding-top: var(--reactist-spacing-large);
}
.paddingTop-xlarge {
    padding-top: var(--reactist-spacing-xlarge);
}
.paddingTop-xxlarge {
    padding-top: var(--reactist-spacing-xxlarge);
}

/* padding-top for tablet */
@media (min-width: 768px /* --reactist-breakpoint-tablet */) {
    .tablet-paddingTop-xsmall {
        padding-top: var(--reactist-spacing-xsmall);
    }
    .tablet-paddingTop-small {
        padding-top: var(--reactist-spacing-small);
    }
    .tablet-paddingTop-medium {
        padding-top: var(--reactist-spacing-medium);
    }
    .tablet-paddingTop-large {
        padding-top: var(--reactist-spacing-large);
    }
    .tablet-paddingTop-xlarge {
        padding-top: var(--reactist-spacing-xlarge);
    }
    .tablet-paddingTop-xxlarge {
        padding-top: var(--reactist-spacing-xxlarge);
    }
}

/* padding-top for desktop */
@media (min-width: 992px /* --reactist-breakpoint-desktop */) {
    .desktop-paddingTop-xsmall {
        padding-top: var(--reactist-spacing-xsmall);
    }
    .desktop-paddingTop-small {
        padding-top: var(--reactist-spacing-small);
    }
    .desktop-paddingTop-medium {
        padding-top: var(--reactist-spacing-medium);
    }
    .desktop-paddingTop-large {
        padding-top: var(--reactist-spacing-large);
    }
    .desktop-paddingTop-xlarge {
        padding-top: var(--reactist-spacing-xlarge);
    }
    .desktop-paddingTop-xxlarge {
        padding-top: var(--reactist-spacing-xxlarge);
    }
}

/*****************/
/* padding-right */
/*****************/

.paddingRight-xsmall {
    padding-right: var(--reactist-spacing-xsmall);
}
.paddingRight-small {
    padding-right: var(--reactist-spacing-small);
}
.paddingRight-medium {
    padding-right: var(--reactist-spacing-medium);
}
.paddingRight-large {
    padding-right: var(--reactist-spacing-large);
}
.paddingRight-xlarge {
    padding-right: var(--reactist-spacing-xlarge);
}
.paddingRight-xxlarge {
    padding-right: var(--reactist-spacing-xxlarge);
}

/* padding-right for tablet */
@media (min-width: 768px /* --reactist-breakpoint-tablet */) {
    .tablet-paddingRight-xsmall {
        padding-right: var(--reactist-spacing-xsmall);
    }
    .tablet-paddingRight-small {
        padding-right: var(--reactist-spacing-small);
    }
    .tablet-paddingRight-medium {
        padding-right: var(--reactist-spacing-medium);
    }
    .tablet-paddingRight-large {
        padding-right: var(--reactist-spacing-large);
    }
    .tablet-paddingRight-xlarge {
        padding-right: var(--reactist-spacing-xlarge);
    }
    .tablet-paddingRight-xxlarge {
        padding-right: var(--reactist-spacing-xxlarge);
    }
}

/* padding-right for desktop */
@media (min-width: 992px /* --reactist-breakpoint-desktop */) {
    .desktop-paddingRight-xsmall {
        padding-right: var(--reactist-spacing-xsmall);
    }
    .desktop-paddingRight-small {
        padding-right: var(--reactist-spacing-small);
    }
    .desktop-paddingRight-medium {
        padding-right: var(--reactist-spacing-medium);
    }
    .desktop-paddingRight-large {
        padding-right: var(--reactist-spacing-large);
    }
    .desktop-paddingRight-xlarge {
        padding-right: var(--reactist-spacing-xlarge);
    }
    .desktop-paddingRight-xxlarge {
        padding-right: var(--reactist-spacing-xxlarge);
    }
}

/******************/
/* padding-bottom */
/******************/

.paddingBottom-xsmall {
    padding-bottom: var(--reactist-spacing-xsmall);
}
.paddingBottom-small {
    padding-bottom: var(--reactist-spacing-small);
}
.paddingBottom-medium {
    padding-bottom: var(--reactist-spacing-medium);
}
.paddingBottom-large {
    padding-bottom: var(--reactist-spacing-large);
}
.paddingBottom-xlarge {
    padding-bottom: var(--reactist-spacing-xlarge);
}
.paddingBottom-xxlarge {
    padding-bottom: var(--reactist-spacing-xxlarge);
}

/* padding-bottom for tablet */
@media (min-width: 768px /* --reactist-breakpoint-tablet */) {
    .tablet-paddingBottom-xsmall {
        padding-bottom: var(--reactist-spacing-xsmall);
    }
    .tablet-paddingBottom-small {
        padding-bottom: var(--reactist-spacing-small);
    }
    .tablet-paddingBottom-medium {
        padding-bottom: var(--reactist-spacing-medium);
    }
    .tablet-paddingBottom-large {
        padding-bottom: var(--reactist-spacing-large);
    }
    .tablet-paddingBottom-xlarge {
        padding-bottom: var(--reactist-spacing-xlarge);
    }
    .tablet-paddingBottom-xxlarge {
        padding-bottom: var(--reactist-spacing-xxlarge);
    }
}

/* padding-bottom for desktop */
@media (min-width: 992px /* --reactist-breakpoint-desktop */) {
    .desktop-paddingBottom-xsmall {
        padding-bottom: var(--reactist-spacing-xsmall);
    }
    .desktop-paddingBottom-small {
        padding-bottom: var(--reactist-spacing-small);
    }
    .desktop-paddingBottom-medium {
        padding-bottom: var(--reactist-spacing-medium);
    }
    .desktop-paddingBottom-large {
        padding-bottom: var(--reactist-spacing-large);
    }
    .desktop-paddingBottom-xlarge {
        padding-bottom: var(--reactist-spacing-xlarge);
    }
    .desktop-paddingBottom-xxlarge {
        padding-bottom: var(--reactist-spacing-xxlarge);
    }
}

/****************/
/* padding-left */
/****************/

.paddingLeft-xsmall {
    padding-left: var(--reactist-spacing-xsmall);
}
.paddingLeft-small {
    padding-left: var(--reactist-spacing-small);
}
.paddingLeft-medium {
    padding-left: var(--reactist-spacing-medium);
}
.paddingLeft-large {
    padding-left: var(--reactist-spacing-large);
}
.paddingLeft-xlarge {
    padding-left: var(--reactist-spacing-xlarge);
}
.paddingLeft-xxlarge {
    padding-left: var(--reactist-spacing-xxlarge);
}

/* padding-left for tablet */
@media (min-width: 768px /* --reactist-breakpoint-tablet */) {
    .tablet-paddingLeft-xsmall {
        padding-left: var(--reactist-spacing-xsmall);
    }
    .tablet-paddingLeft-small {
        padding-left: var(--reactist-spacing-small);
    }
    .tablet-paddingLeft-medium {
        padding-left: var(--reactist-spacing-medium);
    }
    .tablet-paddingLeft-large {
        padding-left: var(--reactist-spacing-large);
    }
    .tablet-paddingLeft-xlarge {
        padding-left: var(--reactist-spacing-xlarge);
    }
    .tablet-paddingLeft-xxlarge {
        padding-left: var(--reactist-spacing-xxlarge);
    }
}

/* padding-left for desktop */
@media (min-width: 992px /* --reactist-breakpoint-desktop */) {
    .desktop-paddingLeft-xsmall {
        padding-left: var(--reactist-spacing-xsmall);
    }
    .desktop-paddingLeft-small {
        padding-left: var(--reactist-spacing-small);
    }
    .desktop-paddingLeft-medium {
        padding-left: var(--reactist-spacing-medium);
    }
    .desktop-paddingLeft-large {
        padding-left: var(--reactist-spacing-large);
    }
    .desktop-paddingLeft-xlarge {
        padding-left: var(--reactist-spacing-xlarge);
    }
    .desktop-paddingLeft-xxlarge {
        padding-left: var(--reactist-spacing-xxlarge);
    }
}
