:root {
    /*
     * breakpoints
     *
     * Unfortunately CSS custom properties are not available in media queries. So these are not
     * being used right now (although all uses of the hardcoded value are annotated with the names.
     *
     * We could manage these as pre-processor variables, but that would leave the question about how
     * is going to be possible to customize these values from consumer apps.
     *
     * See https://stackoverflow.com/q/40722882/621809
     * Possible solution: https://www.npmjs.com/package/postcss-media-variables
     */
    --reactist-breakpoint-tablet: 768px;
    --reactist-breakpoint-desktop: 992px;

    /* spacing sizes */
    --reactist-spacing-xsmall: 4px;
    --reactist-spacing-small: 8px;
    --reactist-spacing-medium: 12px;
    --reactist-spacing-large: 16px;
    --reactist-spacing-xlarge: 24px;
    --reactist-spacing-xxlarge: 32px;

    /* width */
    --reactist-width-xsmall: 220px;
    --reactist-width-small: 400px;
    --reactist-width-medium: 660px;
    --reactist-width-large: 940px;
    --reactist-width-xlarge: 1280px;

    /* font family */
    --reactist-font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Noto, Oxygen-Sans, Ubuntu,
        Cantrell, 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol';

    /* font sizes */
    --reactist-font-size-caption: 12px;
    --reactist-font-size-copy: 13px;
    --reactist-font-size-body: 14px;
    --reactist-font-size-subtitle: 16px;
    --reactist-font-size-header: 20px;
    --reactist-font-size-header-large: 24px;
    --reactist-font-size-header-xlarge: 32px;

    /* font weight */
    --reactist-font-weight-regular: 400;
    --reactist-font-weight-medium: 600;
    --reactist-font-weight-strong: 700;

    /* standard divider colors */
    --reactist-divider-primary: #c4c7c8;
    --reactist-divider-secondary: #dde2e3;
    --reactist-divider-tertiary: #edf2f3;

    /* border-radius */
    --reactist-border-radius-small: 5px;
    --reactist-border-radius-large: 10px;

    /* background color */
    --reactist-bg-default: rgb(255, 255, 255);
    --reactist-bg-brand: rgb(36, 111, 224);
    --reactist-bg-aside: rgb(250, 250, 250);
    --reactist-bg-highlight: rgb(242, 242, 242);
    --reactist-bg-selected: rgb(230, 230, 230);

    /* colors */
    --reactist-framework-fill-background: rgb(250, 250, 250);
    --reactist-framework-fill-crest: rgb(230, 230, 230);
    --reactist-framework-fill-selected: rgb(236, 236, 236);
    --reactist-framework-fill-summit: rgb(214, 214, 214);

    --reactist-content-primary: rgba(0, 0, 0, 0.88);
    --reactist-content-secondary: rgba(0, 0, 0, 0.56);
    --reactist-content-tertiary: rgba(0, 0, 0, 0.4);
    --reactist-content-light-on-dark: rgb(255, 255, 255);

    /* component-specific */
    --reactist-switch-checked: rgb(5, 133, 39);

    /* alerts */
    --reactist-alert-tone-info-icon: #1d438c;
    --reactist-alert-tone-info-border: rgb(36, 111, 224);
    --reactist-alert-tone-info-background: rgba(36, 111, 224, 0.1);

    --reactist-alert-tone-positive-icon: #035017;
    --reactist-alert-tone-positive-border: rgb(5, 133, 39);
    --reactist-alert-tone-positive-background: rgba(5, 133, 39, 0.1);

    --reactist-alert-tone-caution-icon: #5e3704;
    --reactist-alert-tone-caution-border: rgb(235, 141, 19);
    --reactist-alert-tone-caution-background: rgba(235, 141, 19, 0.2);

    --reactist-alert-tone-critical-icon: #b03d32;
    --reactist-alert-tone-critical-border: rgb(209, 69, 59);
    --reactist-alert-tone-critical-background: rgba(209, 69, 59, 0.1);
}
