.table {
    width: 100%;
    border-collapse: collapse;
    color: var(--product-library-display-primary-idle-tint);
    font-family: var(--reactist-font-family);
}

.header {
    border-bottom: 1px solid var(--product-library-divider-primary);
}

.headerCell {
    padding: var(--reactist-spacing-medium);
    text-align: left;
    user-select: none;
}

.headerCellSortable {
    padding: 0;
}

.sortButton {
    display: flex;
    gap: var(--reactist-spacing-xsmall);
    align-items: center;
    width: 100%;
    padding: var(--reactist-spacing-medium);
    border: 0;
    color: inherit;
    font: inherit;
    text-align: left;
    background: transparent;
    cursor: pointer;
}

.sortButton:hover {
    background-color: var(--product-library-actionable-secondary-hover-fill);
}

.sortButton:focus-visible {
    outline: 2px solid
        var(--product-library-display-primary-idle-tint);
    outline-offset: -2px;
}

.headerLabel {
    display: inline-flex;
    align-items: center;
}

.row {
    border-bottom: 1px solid var(--product-library-divider-primary);
}

.row.clickable {
    cursor: pointer;
}

.header:has(+ tbody > .row[aria-selected='true']:first-child) {
    border-bottom-color: transparent;
}

.row[aria-selected='true'],
.row:has(+ .row[aria-selected='true']) {
    border-bottom-color: transparent;
}

.row[aria-selected='true'] {
    background-color: var(--product-library-selectable-secondary-selected-fill);
}

.row[aria-selected='true'] .cell:first-child {
    border-start-start-radius: var(--reactist-border-radius-large);
    border-end-start-radius: var(--reactist-border-radius-large);
}

.row[aria-selected='true'] .cell:last-child {
    border-start-end-radius: var(--reactist-border-radius-large);
    border-end-end-radius: var(--reactist-border-radius-large);
}

.row.clickable:focus-visible {
    outline: 2px solid
        var(--product-library-display-primary-idle-tint);
    outline-offset: -2px;
}

.cell {
    padding: var(--reactist-spacing-small) var(--reactist-spacing-medium);
    vertical-align: middle;
}

.emptyCell {
    padding-block: var(--reactist-spacing-xxlarge);
    color: var(--product-library-display-secondary-idle-tint);
    text-align: center;
}

.sortIndicator {
    display: inline-flex;
    align-items: center;
    width: 16px;
    height: 16px;
}

.sortIndicatorIcon {
    width: 16px;
    height: 16px;
    color: var(--product-library-display-secondary-idle-tint);
    fill: none;
    stroke: currentcolor;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.align-start {
    text-align: left;
}

.align-end {
    text-align: right;
}
