// Colors /////////////////////////////////////////////////////////////////////
@primary_color: #3f82ef;
@primary_color_lighter: #e7f3fd;
@primary_color_darker: #3b7be2;
@primary_font_color: #202020;
@secondary_font_color: #808080;
@color_grey_5: #b3b3b3;
@color_grey_9: #f9f9f9;
@color_grey_10: #ececec;
@color_grey_11: #fafafa;
@color_border_grey: #dcdcdc;
@color_almost_black: #333333;
@color_red: #de4c4a;
@color_green: #70bc1c;

// Typography /////////////////////////////////////////////////////////////////
// weights
@normal: 400;
@semi_bold: 600;
@bold: 700;

// font sizes
@normal_font_size: 0.875rem;
@smaller_font_size: 0.81rem;
@tiny_font_size: 0.75rem;
@heading_one_font_size: 1.25rem;
@heading_two_font_size: 1rem;
@subheading_font_size: 0.69rem;

// heading two text
.heading_two_text(@color: @primary_font_color, @weight: @bold) {
    font-size: @heading_two_font_size;
    color: @color;
    font-weight: @weight;
    line-height: 1.8;
}

// normal text
.normal_text(@color: @primary_font_color, @weight: @normal) {
    font-size: @normal_font_size;
    color: @color;
    font-weight: @weight;
    line-height: 1.7;
}

// smaller text
.smaller_text(@color: @primary_font_color, @weight: @normal) {
    font-size: @smaller_font_size;
    color: @color;
    font-weight: @weight;
    line-height: 1.6;
}

// tiny text
.tiny_text(@color: @secondary_font_color, @weight: @normal) {
    font-size: @tiny_font_size;
    color: @color;
    font-weight: @weight;
    line-height: 1.8;
}

// Z-Index ////////////////////////////////////////////////////////////////////
@z-index-tooltip: 1000;

// Break points ///////////////////////////////////////////////////////////////
@small_screen: ~'only screen and (max-width: 992px)';
