@import './constants.less';

@tooltip_background: @color_almost_black;

.reactist {
    &.tooltip__wrapper {
        display: inline-block;
        max-width: 100%;
        cursor: unset;
    }

    &.tooltip__text {
        .smaller_text(@color: white);
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;

        background-color: @tooltip_background;
        border-radius: 3px;
        padding: 5px 10px;
        max-width: 250px;

        &.inverted {
            color: @primary_font_color;
            background-color: white;
            border-radius: 3px;
            border: 1px solid @color_border_grey;
            box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.08);
        }
    }

    &.tooltip__arrow {
        &.arrow_top {
            &:after {
                border-bottom-color: @tooltip_background !important;
            }
            &.inverted:after {
                border-bottom-color: @color_border_grey !important;
            }
        }
        &.arrow_right {
            &:after {
                border-left-color: @tooltip_background !important;
            }
            &.inverted:after {
                border-left-color: @color_border_grey !important;
            }
        }
        &.arrow_bottom {
            &:after {
                border-top-color: @tooltip_background !important;
            }
            &.inverted:after {
                border-top-color: @color_border_grey !important;
            }
        }
        &.arrow_left {
            &:after {
                border-right-color: @tooltip_background !important;
            }
            &.inverted:after {
                border-right-color: @color_border_grey !important;
            }
        }
    }
}
