.container {
    font-family: var(--reactist-font-family);
}

.container label,
.container .auxiliaryLabel {
    padding-bottom: var(--reactist-spacing-small);
}

.container.bordered {
    border-radius: var(--reactist-border-radius-large);
    border: 1px solid var(--reactist-inputs-idle);
    padding: var(--reactist-spacing-small);
    padding-bottom: var(--reactist-spacing-xsmall);
    overflow: clip;
}

.container.bordered label {
    /* so that clicking in blank areas to the right of the label will focus the field element */
    flex-grow: 1;
    /* to convey that clicking in blank area to the right of the label places focus on the text field */
    cursor: text;
}

.container.bordered label span {
    /* overrides the cursor set above, so that hovering over the non-blank parts of the label stay unaffected */
    cursor: default;
}

.container.bordered:focus-within {
    border-color: var(--reactist-inputs-focus) !important;
}

.container.bordered.error {
    border-color: var(--reactist-inputs-alert) !important;
}

.container.bordered .primaryLabel {
    font-weight: 500;
}

.container.bordered .auxiliaryLabel {
    font-size: var(--reactist-font-size-caption);
}

.container:not(.bordered) .primaryLabel {
    font-weight: var(--reactist-font-weight-strong);
}

.container:not(.bordered) .auxiliaryLabel {
    font-size: var(--reactist-font-size-body);
}

.auxiliaryLabel {
    text-align: right;
}

.loadingIcon {
    vertical-align: bottom;
}
