:root {
    --reactist-field-label-padding-bottom: 6px;
    --reactist-field-label-line-height: inherit;
}

.container {
    font-family: var(--reactist-font-family);
    display: flex;
    flex-direction: column;
}

.container label {
    letter-spacing: -0.15px;
    padding-bottom: var(--reactist-field-label-padding-bottom);
    line-height: var(--reactist-field-label-line-height);
}

.container .auxiliaryLabel {
    text-align: right;
    padding-bottom: var(--reactist-field-label-padding-bottom);
    line-height: var(--reactist-field-label-line-height);
}

.container .primaryLabel {
    font-weight: var(--reactist-font-weight-strong);
}

.container input,
.container textarea,
.container select {
    font-size: var(--reactist-font-size-body);
    font-style: normal;
    font-weight: var(--reactist-font-weight-regular);
    line-height: calc(var(--reactist-font-size-body) + 7px);
    letter-spacing: -0.15px;
}

.auxiliaryLabel {
    font-size: var(--reactist-font-size-body);
}

.loadingIcon {
    vertical-align: bottom;
}
