:root {
    --reactist-spinner-tint: var(--reactist-bg-brand);
    --reactist-spinner-fill: var(--reactist-framework-fill-crest);
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.svg {
    animation-name: spinner;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.tint {
    fill: var(--reactist-spinner-tint);
}

.fill {
    fill: var(--reactist-spinner-fill);
}
