.container {
    position: relative;
}

.container,
.container * {
    cursor: pointer;
    font-family: var(--reactist-font-family);
}

.container.disabled,
.container.disabled * {
    cursor: not-allowed;
}

.container.disabled {
    opacity: 0.5;
}

.container svg {
    color: var(--reactist-content-secondary);
    border-radius: 5px;
}

.container.checked svg {
    color: var(--reactist-switch-checked);
}

.container input[type='checkbox'] {
    border-radius: 5px;
    clip: rect(0 0 0 0);
    display: block;
    height: 16px;
    left: 0;
    margin: 4px;
    position: absolute;
    top: 0;
    width: 16px;
}
