html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #F9F9F9;
    position: relative;
}

#root {
    padding: 40px 60px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

.reactist.button {
    margin-bottom: 20px;
}