.primaryLabel {
    font-weight: var(--reactist-font-weight-strong);
}

.secondaryLabel {
    color: var(--reactist-content-secondary);
}

.auxiliaryLabel {
    padding-left: var(--reactist-spacing-small);
    text-align: right;
}
