.container {
    font-family: var(--reactist-font-family);
}

.primaryLabel {
    font-weight: var(--reactist-font-weight-strong);
}

.secondaryLabel {
    color: var(--reactist-content-secondary);
}

.auxiliaryLabel {
    text-align: right;
}

.messageIcon {
    vertical-align: bottom;
}
