:root {
    --reactist-banner-title-font-size: 14px;
    --reactist-banner-title-line-height: 21px;
    --reactist-banner-description-font-size: 12px;
    --reactist-banner-description-line-height: 20px;
    --reactist-banner-info-border: #eee;
    --reactist-banner-info-background: #fafafa;
    --reactist-banner-info-title: #202020;
    --reactist-banner-info-description: #666;
    --reactist-banner-promotion-border: #fae8d6;
    --reactist-banner-promotion-background: #fffaf4;
    --reactist-banner-promotion-title: #202020;
    --reactist-banner-promotion-description: #666;
}
.c1dffd60 {
    border-style: solid;
    border-width: 1px;
    padding: var(--reactist-spacing-small) var(--reactist-spacing-large);
    letter-spacing: -0.15px;
    font-family: var(--reactist-font-family);
}
._9d552538 {
    background-color: var(--reactist-banner-info-background);
    border-color: var(--reactist-banner-info-border);
}
.d797752e {
    background-color: var(--reactist-banner-promotion-background);
    border-color: var(--reactist-banner-promotion-border);
}
._8cd610da {
    font-size: var(--reactist-banner-title-font-size);
    line-height: var(--reactist-banner-title-line-height);
    font-weight: var(--reactist-font-weight-strong);
}
._78ea5373 {
    font-weight: var(--reactist-font-weight-regular);
}
._319c73fa {
    color: var(--reactist-banner-info-title);
}
.fc84253f {
    color: var(--reactist-banner-promotion-title);
}
.af4bd758 {
    font-size: var(--reactist-banner-description-font-size);
    line-height: var(--reactist-banner-description-line-height);
    font-weight: var(--reactist-font-weight-regular);
}
.b95a8c07 {
    color: var(--reactist-banner-info-description);
}
._3c33f615 {
    color: var(--reactist-banner-promotion-description);
}
