.fb8d74bb {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    font-size: var(--reactist-font-size-body);
    font-family: inherit;
    vertical-align: baseline;
    background-color: transparent;
    list-style: none;
}
pre.fb8d74bb {
    font-family: var(--reactist-font-family-monospace);
}
.fb8d74bb[hidden] {
    display: none !important;
}
._18f74af9 {
    position: absolute;
}
.b292fef1 {
    position: fixed;
}
.e4e217d4 {
    position: relative;
}
._66895b64 {
    position: -webkit-sticky;
    position: sticky;
}
@media (min-width: 768px) {
    ._00e8a0ce {
        position: absolute;
    }
    .efaf64be {
        position: fixed;
    }
    ._76e540fd {
        position: relative;
    }
    .bd286900 {
        position: -webkit-sticky;
        position: sticky;
    }
}
@media (min-width: 992px) {
    ._09e9f472 {
        position: absolute;
    }
    ._893383f1 {
        position: fixed;
    }
    .dea3890d {
        position: relative;
    }
    ._6a61c94d {
        position: -webkit-sticky;
        position: sticky;
    }
}
._64dcc902 {
    display: block;
}
._14423c92 {
    display: flex;
}
._6a38242d {
    display: inline;
}
._348efc1f {
    display: inline-block;
}
._150907c8 {
    display: inline-flex;
}
._3da48ad6 {
    display: none;
}
@media (min-width: 768px) {
    ._0daac9f2 {
        display: block;
    }
    .f62c43b1 {
        display: flex;
    }
    ._5839a4e4 {
        display: inline;
    }
    ._8068aaf2 {
        display: inline-block;
    }
    ._76562ea5 {
        display: inline-flex;
    }
    ._4f7a886f {
        display: none;
    }
}
@media (min-width: 992px) {
    ._4fd4b789 {
        display: block;
    }
    ._4d08e78f {
        display: flex;
    }
    ._0da15585 {
        display: inline;
    }
    .d0fcc019 {
        display: inline-block;
    }
    ._79f967d4 {
        display: inline-flex;
    }
    ._2ffa0d03 {
        display: none;
    }
}
._2d7320f2 {
    flex-direction: column;
}
._5f8879d9 {
    flex-direction: row;
}
@media (min-width: 768px) {
    ._2c919a43 {
        flex-direction: column;
    }
    ._4da1f194 {
        flex-direction: row;
    }
}
@media (min-width: 992px) {
    ._66fd35ea {
        flex-direction: column;
    }
    ._4b79448d {
        flex-direction: row;
    }
}
._202b0c8c {
    flex-wrap: wrap;
}
._45a8f27f {
    flex-wrap: nowrap;
}
._7d9ec5b0 {
    flex-shrink: 0;
}
._9ce442fb {
    flex-grow: 0;
}
.c3b69d70 {
    flex-grow: 1;
}
._7cc6458c {
    align-items: flex-start;
}
.b76144ce {
    align-items: center;
}
.e42ffab4 {
    align-items: flex-end;
}
._3975b234 {
    align-items: baseline;
}
@media (min-width: 768px) {
    .b670f77e {
        align-items: flex-start;
    }
    ._976e7156 {
        align-items: center;
    }
    ._385c60b1 {
        align-items: flex-end;
    }
    ._52b577fc {
        align-items: baseline;
    }
}
@media (min-width: 992px) {
    ._2e1cc27f {
        align-items: flex-start;
    }
    ._3a9e51e9 {
        align-items: center;
    }
    .dfc189b2 {
        align-items: flex-end;
    }
    ._5fabaec4 {
        align-items: baseline;
    }
}
.a65d9c55 {
    justify-content: flex-start;
}
.b4e05554 {
    justify-content: center;
}
.f76804e6 {
    justify-content: flex-end;
}
._0095203e {
    justify-content: space-around;
}
._6eb365d1 {
    justify-content: space-between;
}
._4111e641 {
    justify-content: space-evenly;
}
@media (min-width: 768px) {
    ._6fda855d {
        justify-content: flex-start;
    }
    .c2d359f8 {
        justify-content: center;
    }
    .e271941d {
        justify-content: flex-end;
    }
    ._2321488d {
        justify-content: space-around;
    }
    .e4a9b2e3 {
        justify-content: space-between;
    }
    .bdc232f2 {
        justify-content: space-evenly;
    }
}
@media (min-width: 992px) {
    ._0d16bb5c {
        justify-content: flex-start;
    }
    .eca8082a {
        justify-content: center;
    }
    ._97ea6bb7 {
        justify-content: flex-end;
    }
    ._2321488d {
        justify-content: space-around;
    }
    ._58e61602 {
        justify-content: space-between;
    }
    .bdc232f2 {
        justify-content: space-evenly;
    }
}
._794c8ab8 {
    align-self: stretch;
}
.c510efd5 {
    align-self: flex-start;
}
.b3f71626 {
    align-self: center;
}
._13771d73 {
    align-self: flex-end;
}
._64318454 {
    align-self: baseline;
}
@media (min-width: 768px) {
    ._309c6ba7 {
        align-self: stretch;
    }
    ._92dfd036 {
        align-self: flex-start;
    }
    ._811f9906 {
        align-self: center;
    }
    ._2cd2336e {
        align-self: flex-end;
    }
    .bd2c9dad {
        align-self: baseline;
    }
}
@media (min-width: 992px) {
    .d8215926 {
        align-self: stretch;
    }
    .b78f5c06 {
        align-self: flex-start;
    }
    ._683e0cdb {
        align-self: center;
    }
    ._489f1dc8 {
        align-self: flex-end;
    }
    ._4aca1032 {
        align-self: baseline;
    }
}
._68aab614 {
    overflow: hidden;
}
.ac28a3b1 {
    overflow: auto;
}
._50b88b52 {
    overflow: visible;
}
.c2fdd1c1 {
    overflow: scroll;
}
._75ca308a {
    height: 100%;
}
.a9ca9830 {
    background-color: var(--reactist-bg-default);
}
.b9ff0c93 {
    background-color: var(--reactist-bg-aside);
}
.efc303e5 {
    background-color: var(--reactist-bg-highlight);
}
.ec657626 {
    background-color: var(--reactist-bg-selected);
}
._00d3482f {
    background-color: var(--reactist-bg-toast);
    color: var(--reactist-content-primary);
    --reactist-content-primary: var(--reactist-toast-content-primary);
    --reactist-content-secondary: var(--reactist-toast-content-secondary);
    --reactist-text-link-idle-tint: var(--reactist-content-primary);
    --reactist-text-link-idle-decoration: var(--reactist-text-link-hover-decoration);
    --reactist-actionable-tertiary-idle-tint: var(--reactist-toast-actionable-primary-tint);
    --reactist-actionable-tertiary-hover-tint: var(--reactist-toast-actionable-primary-tint);
    --reactist-actionable-tertiary-hover-fill: var(--reactist-toast-actionable-hover-fill);
    --reactist-actionable-quaternary-idle-tint: var(--reactist-toast-actionable-secondary-tint);
    --reactist-actionable-quaternary-hover-tint: var(--reactist-toast-actionable-secondary-tint);
    --reactist-actionable-quaternary-hover-fill: var(--reactist-toast-actionable-hover-fill);
}
._958da546 {
    border-radius: var(--reactist-border-radius-small);
}
._79077c62 {
    border-radius: var(--reactist-border-radius-large);
}
._68981e89 {
    border: 1px solid var(--reactist-divider-primary);
}
._2bda8f7a {
    border: 1px solid var(--reactist-divider-secondary);
}
._7152c573 {
    border: 1px solid var(--reactist-divider-tertiary);
}
._1f362dec {
    text-align: start;
}
._1c09cd18 {
    text-align: center;
}
.b9663f5e {
    text-align: end;
}
.a0eba489 {
    text-align: justify;
}
@media (min-width: 768px) {
    ._60b9abf8 {
        text-align: start;
    }
    ._2c70943c {
        text-align: center;
    }
    .a512d4e1 {
        text-align: end;
    }
    ._5d02c334 {
        text-align: justify;
    }
}
@media (min-width: 992px) {
    .ad2496a1 {
        text-align: start;
    }
    .ee87b016 {
        text-align: center;
    }
    ._6dd48127 {
        text-align: end;
    }
    ._1e70d216 {
        text-align: justify;
    }
}
