:root {
    --reactist-button-small-font-size: var(--reactist-font-size-caption);
    --reactist-button-small-spacing: var(--reactist-spacing-small);
    --reactist-button-small-height: 28px;
    --reactist-button-normal-font-size: var(--reactist-font-size-copy);
    --reactist-button-normal-spacing: var(--reactist-spacing-medium);
    --reactist-button-normal-height: 32px;
    --reactist-button-large-font-size: var(--reactist-font-size-body);
    --reactist-button-large-spacing: var(--reactist-spacing-large);
    --reactist-button-large-height: 36px;
    --reactist-actionable-primary-idle-tint: #fff;
    --reactist-actionable-primary-idle-fill: #008aa6;
    --reactist-actionable-primary-hover-tint: #fff;
    --reactist-actionable-primary-hover-fill: #007992;
    --reactist-actionable-primary-disabled-tint: #fff;
    --reactist-actionable-primary-disabled-fill: #99d0db;
    --reactist-actionable-secondary-idle-tint: #282f30;
    --reactist-actionable-secondary-idle-fill: #f2f6f7;
    --reactist-actionable-secondary-hover-tint: #282f30;
    --reactist-actionable-secondary-hover-fill: #e3e7e8;
    --reactist-actionable-secondary-disabled-tint: #a9acac;
    --reactist-actionable-secondary-disabled-fill: #f2f6f7;
    --reactist-actionable-tertiary-idle-tint: #006f85;
    --reactist-actionable-tertiary-hover-tint: #006f85;
    --reactist-actionable-tertiary-hover-fill: #f2f6f7;
    --reactist-actionable-tertiary-disabled-tint: #99c5ce;
    --reactist-actionable-quaternary-idle-tint: #6c777a;
    --reactist-actionable-quaternary-hover-tint: #282f30;
    --reactist-actionable-quaternary-hover-fill: #e0e7e8;
    --reactist-actionable-quaternary-disabled-tint: #c4c9ca;
    --reactist-actionable-primary-destructive-idle-tint: #fff;
    --reactist-actionable-primary-destructive-idle-fill: #dc4c3e;
    --reactist-actionable-primary-destructive-hover-tint: #fff;
    --reactist-actionable-primary-destructive-hover-fill: #b03d32;
    --reactist-actionable-primary-destructive-disabled-tint: #fff;
    --reactist-actionable-primary-destructive-disabled-fill: #f1b7b2;
    --reactist-actionable-secondary-destructive-idle-tint: #dc4c3e;
    --reactist-actionable-secondary-destructive-hover-tint: #b03d32;
    --reactist-actionable-secondary-destructive-hover-fill: transparent;
    --reactist-actionable-secondary-destructive-disabled-tint: #f1b7b2;
}
._3930afa0 {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: inherit;
    background-color: transparent;
    border-radius: var(--reactist-border-radius-small);
    white-space: nowrap;
    font-family: var(--reactist-font-family);
    font-weight: var(--reactist-font-weight-medium);
    text-decoration: none;
    border: 1px solid transparent;
    transition-duration: 0.3s;
    transition-property: color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
._90654824 {
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: inherit;
}
._3930afa0:active:not([aria-disabled='true']) {
    transform: scale(0.97);
    transition: transform 0.2s cubic-bezier(0.02, 1.505, 0.745, 1.235);
}
._3930afa0 {
    padding: 0 var(--reactist-btn-spacing);
    font-size: var(--reactist-btn-font-size);
    height: var(--reactist-btn-height);
    line-height: var(--reactist-btn-height);
    --reactist-spinner-tint: var(--reactist-btn-idle-tint);
    --reactist-spinner-fill: var(--reactist-btn-idle-fill);
}
._3930afa0.c05d17c2 {
    border-radius: 1000px;
}
._3930afa0._1e29d236 {
    --reactist-btn-height: var(--reactist-button-small-height);
    --reactist-btn-spacing: var(--reactist-button-small-spacing);
    --reactist-btn-font-size: var(--reactist-button-small-font-size);
}
._3930afa0._7246d092 {
    --reactist-btn-height: var(--reactist-button-normal-height);
    --reactist-btn-spacing: var(--reactist-button-normal-spacing);
    --reactist-btn-font-size: var(--reactist-button-normal-font-size);
}
._3930afa0._2d084671 {
    --reactist-btn-height: var(--reactist-button-large-height);
    --reactist-btn-spacing: var(--reactist-button-large-spacing);
    --reactist-btn-font-size: var(--reactist-button-large-font-size);
}
._3930afa0:not(._2b0b9d95) {
    color: var(--reactist-btn-idle-tint);
    background-color: var(--reactist-btn-idle-fill);
}
._3930afa0:focus-visible:not([aria-disabled='true']),
._3930afa0:hover:not([aria-disabled='true']),
._3930afa0[aria-expanded='true'] {
    color: var(--reactist-btn-hover-tint);
    background-color: var(--reactist-btn-hover-fill);
}
._3930afa0._2b0b9d95 {
    cursor: not-allowed;
    color: var(--reactist-btn-disabled-tint);
    background-color: var(--reactist-btn-disabled-fill);
}
._3930afa0:not(.abd5766f) {
    min-width: 68px;
}
._3930afa0.abd5766f {
    width: var(--reactist-btn-height);
    height: var(--reactist-btn-height);
    padding: 0;
}
._3930afa0 ._380e7c73 {
    margin-right: calc(var(--reactist-btn-spacing) - 6px);
    margin-left: -6px;
}
._3930afa0 ._20fe4105 {
    margin-left: calc(var(--reactist-btn-spacing) - 6px);
    margin-right: -6px;
}
._3930afa0 > * {
    pointer-events: none;
}
._7ea1378e {
    --reactist-btn-idle-tint: var(--reactist-actionable-primary-idle-tint);
    --reactist-btn-idle-fill: var(--reactist-actionable-primary-idle-fill);
    --reactist-btn-hover-tint: var(--reactist-actionable-primary-hover-tint);
    --reactist-btn-hover-fill: var(--reactist-actionable-primary-hover-fill);
    --reactist-btn-disabled-tint: var(--reactist-actionable-primary-disabled-tint);
    --reactist-btn-disabled-fill: var(--reactist-actionable-primary-disabled-fill);
}
._64ee8afd {
    --reactist-btn-idle-tint: var(--reactist-actionable-secondary-idle-tint);
    --reactist-btn-idle-fill: var(--reactist-actionable-secondary-idle-fill);
    --reactist-btn-hover-tint: var(--reactist-actionable-secondary-hover-tint);
    --reactist-btn-hover-fill: var(--reactist-actionable-secondary-hover-fill);
    --reactist-btn-disabled-tint: var(--reactist-actionable-secondary-disabled-tint);
    --reactist-btn-disabled-fill: var(--reactist-actionable-secondary-disabled-fill);
}
._650176bf {
    --reactist-btn-idle-tint: var(--reactist-actionable-tertiary-idle-tint);
    --reactist-btn-hover-tint: var(--reactist-actionable-tertiary-hover-tint);
    --reactist-btn-hover-fill: var(--reactist-actionable-tertiary-hover-fill);
    --reactist-btn-disabled-tint: var(--reactist-actionable-tertiary-disabled-tint);
}
.aa19cb97,
._650176bf {
    --reactist-btn-idle-fill: transparent;
    --reactist-btn-disabled-fill: transparent;
}
.aa19cb97 {
    --reactist-btn-idle-tint: var(--reactist-actionable-quaternary-idle-tint);
    --reactist-btn-hover-tint: var(--reactist-actionable-quaternary-hover-tint);
    --reactist-btn-hover-fill: var(--reactist-actionable-quaternary-hover-fill);
    --reactist-btn-disabled-tint: var(--reactist-actionable-quaternary-disabled-tint);
}
._7ea1378e._7a2d9a8c {
    --reactist-btn-idle-tint: var(--reactist-actionable-primary-destructive-idle-tint);
    --reactist-btn-idle-fill: var(--reactist-actionable-primary-destructive-idle-fill);
    --reactist-btn-hover-tint: var(--reactist-actionable-primary-destructive-hover-tint);
    --reactist-btn-hover-fill: var(--reactist-actionable-primary-destructive-hover-fill);
    --reactist-btn-disabled-tint: var(--reactist-actionable-primary-destructive-disabled-tint);
    --reactist-btn-disabled-fill: var(--reactist-actionable-primary-destructive-disabled-fill);
}
._64ee8afd._7a2d9a8c {
    --reactist-btn-idle-tint: var(--reactist-actionable-secondary-destructive-idle-tint);
    --reactist-btn-idle-fill: transparent;
    --reactist-btn-hover-tint: var(--reactist-actionable-secondary-destructive-hover-tint);
    --reactist-btn-hover-fill: var(--reactist-actionable-secondary-destructive-hover-fill);
    --reactist-btn-disabled-tint: var(--reactist-actionable-secondary-destructive-disabled-tint);
    --reactist-btn-disabled-fill: transparent;
    border-color: var(--reactist-btn-idle-tint);
}
._64ee8afd._7a2d9a8c:hover {
    border-color: var(--reactist-btn-hover-tint);
}
._64ee8afd._7a2d9a8c._2b0b9d95 {
    border-color: var(--reactist-btn-disabled-tint);
}
.aa19cb97._7a2d9a8c,
._650176bf._7a2d9a8c {
    --reactist-btn-idle-tint: var(--reactist-actionable-secondary-destructive-idle-tint);
    --reactist-btn-hover-tint: var(--reactist-actionable-secondary-destructive-hover-tint);
    --reactist-btn-disabled-tint: var(--reactist-actionable-secondary-destructive-disabled-tint);
}
