.reactist_menulist[role='menu'] {
    min-height: 44px;
    max-height: var(--popover-available-height);
    overflow: auto;
    display: block;
    white-space: nowrap;
    background: hsla(0, 0%, 100%, 0.99);
    outline: none;
    font-size: var(--reactist-font-size-copy);
    padding: 4px 0;
    min-width: 180px;
    border: 1px solid var(--reactist-divider-secondary);
    border-radius: 3px;
    margin: -4px;
    z-index: var(--reactist-stacking-order-menu);
}
.reactist_menulist[role='menu'] .reactist_menugroup__label,
.reactist_menulist[role='menu'] [role='menuitem'] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    color: inherit;
    border: none;
    background-color: transparent;
    font-family: var(--reactist-font-family);
    font-size: var(--reactist-font-size-copy);
}
.reactist_menulist[role='menu'] .reactist_menugroup__label {
    color: var(--reactist-content-secondary);
    font-size: var(--reactist-font-size-copy);
}
.reactist_menulist[role='menu'] [role='menuitem'] {
    width: 100%;
    box-sizing: border-box;
}
.reactist_menulist[role='menu'] [role='menuitem']:focus,
.reactist_menulist[role='menu'] [role='menuitem']:hover,
.reactist_menulist[role='menu'] [role='menuitem'][aria-expanded='true'] {
    color: var(--reactist-content-primary);
    background-color: var(--reactist-bg-selected);
}
.reactist_menulist[role='menu'] [role='menuitem']:disabled,
.reactist_menulist[role='menu'] [role='menuitem'][aria-disabled='true'] {
    color: var(--reactist-content-secondary);
    pointer-events: none;
}
.reactist_menulist[role='menu'] a[role='menuitem'] {
    cursor: default;
    text-decoration: none;
}
.reactist_menulist[role='menu'] a[role='menuitem']:hover {
    text-decoration: none;
}
.reactist_menulist[role='menu'] [role='menu'] {
    margin-top: -5px;
}
.reactist_menulist[role='menu'] hr {
    border: none;
    height: 1px;
    background-color: var(--reactist-bg-selected);
    margin: 4px 0;
}
