._464500ae {
    color: var(--reactist-content-primary);
}
._1abfe147 svg {
    color: var(--reactist-alert-tone-info-icon);
}
._36ce9859 svg {
    color: var(--reactist-alert-tone-positive-icon);
}
.f92214b7 svg {
    color: var(--reactist-alert-tone-caution-icon);
}
.be6cf28e svg {
    color: var(--reactist-alert-tone-critical-icon);
}
