:root {
    --reactist-text-link-idle-tint: #246fe0;
    --reactist-text-link-hover-tint: var(--reactist-text-link-idle-tint);
    --reactist-text-link-idle-decoration: none;
    --reactist-text-link-hover-decoration: underline;
}
.fdc181b3 {
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    -webkit-text-decoration: var(--reactist-text-link-idle-decoration);
    text-decoration: var(--reactist-text-link-idle-decoration);
    color: var(--reactist-text-link-idle-tint);
    cursor: pointer;
}
.fdc181b3:hover {
    -webkit-text-decoration: var(--reactist-text-link-hover-decoration);
    text-decoration: var(--reactist-text-link-hover-decoration);
    color: var(--reactist-text-link-hover-tint);
}
.fdc181b3 svg {
    display: inline-block;
    width: 1em;
    height: 1em;
    font-size: inherit;
    color: inherit;
    vertical-align: -0.125em;
    fill: currentColor;
    padding: 0 6px;
}
