.f2de4e8d {
    cursor: text;
    height: var(--reactist-input-wrapper-height);
}
.f2de4e8d.ee26e40c,
.f2de4e8d.ee26e40c input {
    background-color: var(--reactist-field-readonly-background);
}
.f2de4e8d.ee26e40c input {
    color: var(--reactist-content-primary);
}
.f2de4e8d:not(._3afb1a56) {
    --reactist-input-wrapper-height: 32px;
    border-radius: var(--reactist-border-radius-small);
    border: 1px solid var(--reactist-inputs-idle);
    overflow: clip;
}
.f2de4e8d._3afb1a56 {
    --reactist-input-wrapper-height: 24px;
}
.f2de4e8d._3afb1a56 input {
    padding: 0;
    height: var(--reactist-input-wrapper-height);
}
.f2de4e8d:not(._3afb1a56):focus-within {
    border-color: var(--reactist-inputs-focus);
}
.f2de4e8d:not(._3afb1a56).f3ff9f57 {
    border-color: var(--reactist-inputs-alert) !important;
}
.f2de4e8d input {
    color: var(--reactist-content-primary);
    flex: 1;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    background: transparent;
    border: none;
    --tmp-desired-height: 30px;
    --tmp-line-height-increase: 4px;
    --tmp-vertical-padding: calc(
        (
                var(--tmp-desired-height) - var(--reactist-font-size-body) -
                    var(--tmp-line-height-increase)
            ) / 2
    );
    font-size: var(--reactist-font-size-body);
    line-height: calc(var(--reactist-font-size-body) + 4px);
    margin: 0;
}
.f2de4e8d:not(._3afb1a56) input {
    padding: var(--tmp-vertical-padding) var(--reactist-spacing-small);
}
._3eb7b0ef button {
    --reactist-btn-height: 24px !important;
}
