name: Coverage Reporting

on:
    push:
        branches:
            - main
    pull_request:

jobs:
    coverage-reporting:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: 16
            - name: Install dependencies
              run: npm set progress=false && CYPRESS_INSTALL_BINARY=0 HUSKY_SKIP_INSTALL=1 npm ci --silent
            - name: Run tests and collect coverage
              run: npm run test:coverage
            - name: Upload to coveralls
              uses: coverallsapp/github-action@v1.1.2
              with:
                  github-token: ${{ secrets.GITHUB_TOKEN }}
