:root {
    --reactist-badge-font-size: 10px;

    --reactist-badge-info-tint: var(--product-library-info-neutral-tertiary-on-idle-tint);
    --reactist-badge-info-fill: var(--product-library-info-neutral-tertiary-idle-fill);

    --reactist-badge-positive-tint: var(--product-library-info-positive-secondary-on-idle-tint);
    --reactist-badge-positive-fill: var(--product-library-info-positive-secondary-idle-fill);

    --reactist-badge-promote-tint: var(--product-library-info-promote-tertiary-on-idle-tint);
    --reactist-badge-promote-fill: var(--product-library-info-promote-tertiary-idle-fill);

    --reactist-badge-attention-tint: var(--product-library-info-attention-secondary-on-idle-tint);
    --reactist-badge-attention-fill: var(--product-library-info-attention-secondary-idle-fill);
}

.badge {
    font-family: var(--reactist-font-family);
    font-weight: var(--reactist-font-weight-strong);
    font-size: var(--reactist-badge-font-size);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-radius: 3px;
    padding: 1px var(--reactist-spacing-xsmall);
    color: var(--reactist-badge-tint);
    background-color: var(--reactist-badge-fill);
    line-height: calc(var(--reactist-badge-font-size) + 3px);
    white-space: nowrap;
    text-decoration: none;
}

.badge:hover {
    color: var(--reactist-badge-tint);
    text-decoration: none;
}

.badge-info {
    --reactist-badge-tint: var(--reactist-badge-info-tint);
    --reactist-badge-fill: var(--reactist-badge-info-fill);
}

.badge-positive {
    --reactist-badge-tint: var(--reactist-badge-positive-tint);
    --reactist-badge-fill: var(--reactist-badge-positive-fill);
}

.badge-promote {
    --reactist-badge-tint: var(--reactist-badge-promote-tint);
    --reactist-badge-fill: var(--reactist-badge-promote-fill);
}

.badge-attention {
    --reactist-badge-tint: var(--reactist-badge-attention-tint);
    --reactist-badge-fill: var(--reactist-badge-attention-fill);
}

.badge-warning {
    --reactist-badge-tint: var(--reactist-badge-warning-tint);
    --reactist-badge-fill: var(--reactist-badge-warning-fill);
}
