.inputWrapper input {
    padding-right: 0;
}

.inputWrapper button {
    outline: none; /* we take care of the focus state below */
    line-height: 0;
    align-self: stretch;
    margin: 2px;
    border-radius: 3px;
    color: var(--reactist-content-secondary);
}

.inputWrapper button:hover,
.inputWrapper button:focus {
    color: var(--reactist-content-primary);
    background-color: var(--reactist-bg-selected);
}
