.inputWrapper input {
    padding-right: 0;
    box-shadow: none !important;
    border: none;
}

.inputWrapper button {
    outline: none; /* we take care of the focus state below */
    line-height: 0;
    margin: 0 3px;
    padding: 0;
    border: none;
    border-radius: 3px;
    background: none;
    color: var(--reactist-content-secondary);
    cursor: pointer;
}

.inputWrapper button:hover,
.inputWrapper button:focus {
    color: var(--reactist-content-primary);
    background-color: var(--reactist-bg-selected);
}
